[2016-01-24 02:53] sergiokopplin opened #1 "missing favicon"

[2016-01-24 02:53] sergiokopplin opened #2 "all social apps in navs"

[2016-01-24 02:54] sergiokopplin opened #3 "new prints screen / new zip"

[2016-01-24 16:10] sergiokopplin commented on #1
done!

[2016-01-24 16:10] #1 closed, assigned to sergiokopplin

[2016-01-24 16:30] sergiokopplin commented on #2
done!

[2016-01-24 16:30] #2 closed, assigned to sergiokopplin

[2016-01-24 16:30] sergiokopplin commented on #3
done!

[2016-01-24 16:30] #3 closed, assigned to sergiokopplin

[2016-01-26 21:32] sergiokopplin opened #4 "update link decorations"

[2016-01-28 18:43] sergiokopplin commented on #4
done!

[2016-01-28 18:43] #4 closed, assigned to sergiokopplin

[2016-01-31 16:10] sergiokopplin opened #5 "template name: footer"

[2016-02-01 15:04] sergiokopplin commented on #5
done!

[2016-02-01 15:04] #5 closed, assigned to sergiokopplin

[2016-02-08 02:35] sergiokopplin opened #7 "rscss"
http://rscss.io
- [x] base
- [ ] pages
- [ ] components

[2016-02-08 23:29] sergiokopplin commented on #7
i don't think a new methodology will solve any problems. i'm keeping BEM

[2016-02-17 21:44] Fohlen opened #8 "Use Piwik instead GA"
Would it be possible to add Piwik instead Google Analytics because I am a bit privacy concerned? :+1:

[2016-02-18 01:48] rootulp opened #9 "Ability to hide Blog and About"
What do you think about adding the ability to hide Blog and About (similar to Projects) in the Nav

[2016-02-18 11:26] sergiokopplin commented on #9
In this case, the user has the ability to come back with the "home button", and the home button only, right?

thank you for your help!

[2016-02-18 18:10] sergiokopplin opened #12 "instructions for tests - travis"

[2016-02-18 18:13] sergiokopplin opened #13 "BEM in all stylus files"

[2016-02-18 18:21] sergiokopplin commented on #8
yes, we can put that inside.
do you have any link or documentation about?
i really don't know about this tool.

thank you for the open issue!

[2016-02-18 18:32] sergiokopplin commented on #13
#7 - maybe rscss

[2016-02-18 18:39] sergiokopplin commented on #12
almost done!

[2016-02-18 19:14] #9 closed, assigned to nobody

[2016-02-18 21:11] Fohlen commented on #8
Examples can be found at http://piwik.org/integrate/
I'll append a sample right here

[code]

[2016-02-18 21:46] Fohlen opened #14 "Introduce search function"
Are there any plans to enhance the blog site with a search function?
It could be added to the Blog Navbar (on the left side or beneath).
I added a screen shot marking possibly nice positions.
![bildschirmfoto_2016-02-18_22-43-07](https://cloud.githubusercontent.com/assets/3730888/13159308/58bfc30c-d691-11e5-9899-1e3c9022cb2c.png)

[2016-02-18 21:48] Fohlen opened #15 "Add a 'usage' column to README.md"
It is always a nice idea to add a _showcase_, where people can link example sites using this template (this gives other people a vague idea of what the template looks like in-use).
What do you think of this?

[2016-02-19 00:24] sergiokopplin commented on #14
@Fohlen look at this: http://willianjusten.com.br/
Is that what you mean?

We can try that, for shure!

[2016-02-19 00:24] sergiokopplin commented on #15
NICE!

absolutely yes for this, i'm doing this right now! thank you!

[2016-02-19 00:34] sergiokopplin commented on #15
done!

[2016-02-19 00:34] #15 closed, assigned to nobody

[2016-02-19 00:36] sergiokopplin commented on #8
what variables you have to change? setDomains?
I can't find this example in the _integrations_ page.

I know that is just JS, but i want to take a look first. o//

[2016-02-19 12:26] Fohlen commented on #8
You need to change the origin which is

[code]

as well as allowed domains

[code]

This is probably best done when you add a condition (like, piwik-enabled) and let the user insert the tracking code form within their Piwik into the configuration, alike

[code]

[2016-02-19 12:27] Fohlen commented on #14
Yes, this would be awesome.
Probably it will be necessary to use categories / keywords to identify posts, I don't know if Jekyll supports full-text search though, hmm.

[2016-02-19 12:35] sergiokopplin commented on #14
Yes you can, but i don't believe that we can do with full-text inside the content itself.
Take a look at this: https://github.com/willianjusten/willianjusten.github.io/blob/master/search.json

This is how we do search in jekyll.

[2016-02-19 12:36] sergiokopplin commented on #8
i'll test this later, but it's a nice tool. i like it!

[2016-02-20 17:17] sergiokopplin commented on #12
done!

[2016-02-20 17:17] #12 closed, assigned to sergiokopplin

[2016-02-20 17:17] sergiokopplin commented on #13
changing for rscss!

[2016-02-20 17:17] #13 closed, assigned to sergiokopplin

[2016-02-20 18:25] sergiokopplin commented on #14
i'm doing this, maybe this week.
what we have to do:
- [ ] export data for json
- [ ] include minimum js for search
- [ ] layouts

[2016-02-20 23:53] sergiokopplin opened #17 "hover for social links"
<img width="1440" alt="screen shot 2016-02-20 at 9 52 55 pm" src="https://cloud.githubusercontent.com/assets/2743180/13199937/5b56ddbc-d81c-11e5-93b0-62da68d6fb9e.png">

[2016-02-21 00:25] sergiokopplin commented on #7
done #18

[2016-02-21 00:25] #7 closed, assigned to nobody

[2016-02-21 17:23] sergiokopplin commented on #17
done!

[2016-02-21 17:23] #17 closed, assigned to nobody

[2016-02-21 18:10] sergiokopplin opened #20 "layout for 404"

[2016-02-21 18:12] sergiokopplin opened #21 "remove style from about"

[2016-02-21 18:28] sergiokopplin commented on #20
done!

[2016-02-21 18:28] #20 closed, assigned to nobody

[2016-02-21 18:36] sergiokopplin commented on #21
done!

[2016-02-21 18:36] #21 closed, assigned to nobody

[2016-02-21 18:38] sergiokopplin commented on #8
@Fohlen, how can i see the analytics page for piwik?
I can't find!

[2016-02-21 18:39] sergiokopplin opened #22 "component: text x image"
a component to see images beside texts in posts

[2016-02-21 18:40] sergiokopplin opened #23 "read time inside posts"

[2016-02-21 18:41] sergiokopplin opened #24 "tags inside posts"

[2016-02-21 18:42] sergiokopplin opened #25 "next:previous posts inside posts"

[2016-02-21 18:42] sergiokopplin opened #26 "embed tweets inside posts"

[2016-02-21 18:44] sergiokopplin opened #27 "paragraph breaker"
<img width="362" alt="screen shot 2016-02-21 at 3 43 47 pm" src="https://cloud.githubusercontent.com/assets/2743180/13204567/f4972686-d8b1-11e5-9010-fee6d95e4624.png">

[2016-02-21 18:44] sergiokopplin opened #28 "codepen embed"

[2016-02-21 18:45] sergiokopplin opened #29 "larger pictures inside posts"

[2016-02-21 18:53] sergiokopplin commented on #23
[done!](https://github.com/sergiokopplin/indigo/commit/a68369878cba7ab14ec59ed3fcef3f6e0869b7c5)

[2016-02-21 18:53] #23 closed, assigned to sergiokopplin

[2016-02-21 18:56] sergiokopplin opened #30 "more than 1 tag inside posts?"

[2016-02-21 19:05] sergiokopplin opened #31 "tags page"

[2016-02-21 19:08] sergiokopplin commented on #24
[done!](https://github.com/sergiokopplin/indigo/commit/3b3b5be9c3f7092ad250df2831c3332a69c39d5c)

[2016-02-21 19:08] #24 closed, assigned to sergiokopplin

[2016-02-21 19:13] sergiokopplin commented on #30
[done!](https://github.com/sergiokopplin/indigo/commit/5b15443de770ef252c3b5b300bf09c8e0e21bbbb)

[2016-02-21 19:13] #30 closed, assigned to sergiokopplin

[2016-02-21 19:21] sergiokopplin opened #32 "tiny little small effect on headers"

[2016-02-22 12:26] sergiokopplin opened #34 "bug with hover links at menu"

[2016-02-22 12:27] sergiokopplin commented on #28
[done!](https://github.com/sergiokopplin/indigo/commit/3fbafe6cd94b4afa28c4bc2c35013f1befacc179)

[2016-02-22 12:27] #28 closed, assigned to sergiokopplin

[2016-02-22 12:33] sergiokopplin commented on #34
[done!](https://github.com/sergiokopplin/indigo/commit/bafb08e6697d8e28b4af005dab48935da90e8589)

[2016-02-22 12:33] #34 closed, assigned to sergiokopplin

[2016-02-22 12:58] sergiokopplin opened #35 "Indigo Theme Favicons"
by e-mail:

Hello dude,
I am using your theme Indigo (thanks, it is excellent!) but I don't
see how I can update the favicon. I might be being blind, but how do
you get 'apple-touch-icon-57x57' etc? Is there some way I can generate
these files from a 64x64 favicon? Or must I create them all manually?

[2016-02-22 12:58] sergiokopplin commented on #35
Hey Alex, thank you for the e-mail.

In this case, is all manually. I don't remember the address, but's a website that i can make them.
I'm not shure who is right now, but you can give a try at this one: http://www.favicon-generator.org/
just upload a favicon, download the files, put them inside the folders and be happy.
If you have any other doubts, just e-mail me, but if you can, open this issue

[2016-02-22 12:58] #35 closed, assigned to sergiokopplin

[2016-02-22 23:15] sergiokopplin commented on #26
[done!](https://github.com/sergiokopplin/indigo/commit/6d2bea2ac60d8076f3c71a38d7f0fceeecef69f3)

[2016-02-22 23:15] #26 closed, assigned to sergiokopplin

[2016-02-22 23:52] sergiokopplin commented on #25
[done!](https://github.com/sergiokopplin/indigo/commit/f377728b153f0a14290d216d9f818a1b34515c22)

[2016-02-22 23:52] #25 closed, assigned to sergiokopplin

[2016-02-22 23:54] sergiokopplin opened #36 "status: broken! :("

[2016-02-23 00:07] sergiokopplin commented on #36
[fixed](https://github.com/sergiokopplin/indigo/commit/cf72d2653f5bde38b8bf10f416ab4c1fbd5bdb2a)

we can't add embed tweets!

[2016-02-23 00:07] #36 closed, assigned to sergiokopplin

[2016-02-23 00:09] sergiokopplin opened #37 "split posts and projects from related"

[2016-02-23 00:23] sergiokopplin opened #38 "google speed"
85 / 100 for User Experience
how can i fix this?

[2016-02-23 12:30] sergiokopplin opened #39 "config file generator"

[2016-02-23 20:34] sergiokopplin commented on #37
[done](https://github.com/sergiokopplin/indigo/commit/b4560b9562202f730bcd17f000d7444ececb1732)

[2016-02-23 20:34] #37 closed, assigned to sergiokopplin

[2016-02-23 22:40] rootulp commented on #38
Can you post your results from Google PageSpeed Insights?
I'm getting [96/100](https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Frootulp.com%2F&tab=mobile) for User Experience for rootulp.com

[2016-02-23 22:43] sergiokopplin commented on #38
take a look: https://developers.google.com/speed/pagespeed/insights/?url=koppl.in%2Findigo
i'm going to update the styles for the buttons (social links) and i hope that solves the problem

[2016-02-23 23:10] #32 closed, assigned to sergiokopplin

[2016-02-24 00:44] sergiokopplin opened #40 "ajax loading"
[ghostwriter](https://github.com/roryg/ghostwriter/blob/master/assets/js/scripts.js)

[2016-02-24 01:20] sergiokopplin opened #41 "hover for profile image"

[2016-02-24 14:39] sergiokopplin opened #42 "exclude files from build"

[2016-02-24 16:08] sergiokopplin commented on #14
http://jekyll.tips/tutorials/search/

[2016-02-24 16:10] sergiokopplin opened #43 "new services"
http://jekyll.tips/services/

[2016-02-24 18:32] sergiokopplin opened #44 "_config with local development"

[2016-02-24 18:32] sergiokopplin commented on #44
[done](https://github.com/sergiokopplin/indigo/commit/9c2fe8ba7daf90ddde19fbe33576d6b3331e9b1f)

[2016-02-24 18:32] #44 closed, assigned to sergiokopplin

[2016-02-24 18:34] sergiokopplin commented on #40
after several modifications in the main js from ghostwriter, i had the idea of continuing without js
the application itself is light, so we don't need a external lib to be faster than that

[2016-02-24 18:34] #40 closed, assigned to sergiokopplin

[2016-02-24 18:45] sergiokopplin commented on #42
[done](https://github.com/sergiokopplin/indigo/commit/917b851d5953cefdf0c85aac5963dbf080282322)

[2016-02-24 18:45] #42 closed, assigned to sergiokopplin

[2016-02-24 18:51] sergiokopplin commented on #43
- [x] slideshare
- [x] vimeo
- [x] youtube
- [x] vevo

[2016-02-24 19:06] sergiokopplin commented on #43
[done](https://github.com/sergiokopplin/indigo/commit/9a196ef5632550108106b6322893e1bf86c6895b)

[2016-02-24 19:06] #43 closed, assigned to sergiokopplin

[2016-02-24 19:26] sergiokopplin opened #45 "tooltip for links / rss + profile + twitter + facebook"

[2016-02-24 20:15] sergiokopplin opened #46 "image subtitle"

[2016-02-24 20:32] sergiokopplin commented on #22
[done](https://github.com/sergiokopplin/indigo/commit/a608a331220527c652c8e098d8c1fc422466f800)

[2016-02-24 20:32] #22 closed, assigned to sergiokopplin

[2016-02-24 21:01] sergiokopplin opened #47 "convert span to figcaption"

[2016-02-24 21:24] sergiokopplin commented on #47
[done](https://github.com/sergiokopplin/indigo/commit/f09cbb4d424ce74844f0b00c58d088d85865af55)

[2016-02-24 21:24] #47 closed, assigned to sergiokopplin

[2016-02-24 21:24] sergiokopplin commented on #46
[done](https://github.com/sergiokopplin/indigo/commit/f09cbb4d424ce74844f0b00c58d088d85865af55)

[2016-02-24 21:24] #46 closed, assigned to sergiokopplin

[2016-02-24 21:27] sergiokopplin opened #48 "figcaption with side-by-side"

[2016-02-24 21:33] sergiokopplin commented on #48
[done](https://github.com/sergiokopplin/indigo/commit/51da265cf9411dc0d11dd8bcf40a28953e9a0bf2)

[2016-02-24 21:33] #48 closed, assigned to sergiokopplin

[2016-02-24 21:53] sergiokopplin opened #49 "bigger images"

[2016-02-24 22:00] #49 closed, assigned to sergiokopplin

[2016-02-24 22:12] sergiokopplin commented on #38
[done](https://github.com/sergiokopplin/indigo/commit/a9f05bdc6e352f6e9ddcb5e0a2b365036deb7856)!
the problem was the small buttons. now they have a new size

[2016-02-24 22:12] #38 closed, assigned to sergiokopplin

[2016-02-24 22:26] #41 closed, assigned to sergiokopplin

[2016-02-24 22:27] sergiokopplin commented on #29
[done](https://github.com/sergiokopplin/indigo/commit/2a06ccf07af14b8ed5434f4bb6a6af92902f0f5e)

[2016-02-24 22:27] #29 closed, assigned to sergiokopplin

[2016-02-24 23:26] sergiokopplin commented on #45
after a few moments, a decided to delete this issue
it's necessary with social-links, but not with buttons
buttons are self-explanatory

[2016-02-24 23:26] #45 closed, assigned to nobody

[2016-02-25 01:59] #27 closed, assigned to sergiokopplin

[2016-02-25 02:06] sergiokopplin opened #50 "dark version?"

[2016-02-25 02:35] sergiokopplin opened #51 "side-by-side mobile caption"

[2016-02-25 02:40] sergiokopplin opened #52 "hide border when disqus is off"
<img width="631" alt="screen shot 2016-02-24 at 11 39 46 pm" src="https://cloud.githubusercontent.com/assets/2743180/13308175/ed6cf70a-db4f-11e5-8bb9-b8d715306190.png">

[2016-02-25 03:08] aannasw opened #53 "updating styling for tweet/share button in post author bio"
Hi Sérgio, I'm using your theme on my site - thanks so much, it's awesome! I just had a question regarding updating the styling for the Twitter and Facebook share buttons in the author bio section on blog posts.

I found and updated the colors in both assets/styles/main.css and src/styles/components/_share.styl but don't see any changes on my site. Am I missing any other code I need to update?

[2016-02-25 05:44] aannasw commented on #53
Ah, missed the _includes/main.css :) All good!

[2016-02-25 05:44] #53 closed, assigned to nobody

[2016-02-25 10:21] sergiokopplin commented on #53
i'm looking you app and i think you need to update the files!
do you know how to do this?

[2016-02-25 13:02] #51 closed, assigned to sergiokopplin

[2016-02-25 20:27] sergiokopplin opened #54 "opacity for hover images"

[2016-02-25 23:12] renatogalvones opened #55 "Add feature to allow a profile picture from external URL"
=]

[2016-02-25 23:12] renatogalvones commented on #55
Gonna add that. ;)

[2016-02-27 16:27] #52 closed, assigned to sergiokopplin

[2016-02-27 16:27] #54 closed, assigned to sergiokopplin

[2016-02-27 16:32] sergiokopplin opened #56 "side-by-side broken on desktop"

[2016-02-27 21:42] #56 closed, assigned to sergiokopplin

[2016-02-28 14:36] sergiokopplin opened #57 "split posts portuguese/english"

[2016-02-29 01:58] sergiokopplin commented on #39
This is something, but is not so usefull. Closing!

[2016-02-29 01:58] #39 closed, assigned to sergiokopplin

[2016-02-29 02:03] sergiokopplin opened #58 "more icons!"

[2016-02-29 15:15] sergiokopplin opened #59 "instructions for branches"

[2016-02-29 15:20] sergiokopplin opened #60 "update footer"
before: koppl.in link
after: Sérgio Kopplin

[2016-02-29 17:45] #60 closed, assigned to sergiokopplin

[2016-02-29 17:59] #58 closed, assigned to sergiokopplin

[2016-02-29 18:02] sergiokopplin opened #61 "hover effect for links"
hover effect with border-bottom
maybe footer only

[2016-02-29 18:10] #61 closed, assigned to sergiokopplin

[2016-03-02 21:26] sergiokopplin opened #62 "wider layout"

[2016-03-02 21:26] sergiokopplin opened #63 "2 columns for pages?"

[2016-03-02 21:26] sergiokopplin opened #64 "tags for paginations"

[2016-03-03 12:11] sergiokopplin opened #65 "tutorial by Arti Annaswamy in readme"

[2016-03-03 16:42] #62 closed, assigned to sergiokopplin

[2016-03-03 21:43] sergiokopplin opened #67 "update screen-shot - add theme"
- [x] http://jekyllthemes.org/
- [x] http://themes.jekyllrc.org/

add theme
- [x] https://docs.google.com/forms/d/1hvW9xaTjN6z8sTiJuLoZQXEB0h4wvPQycIJRoo2n0XE/viewform
- [x] https://github.com/jekyll/jekyll/wiki/Themes
- [x] https://drjekyllthemes.github.io/
- [x] http://themes.jekyllbootstrap.com/

[2016-03-03 22:04] sergiokopplin commented on #63
this is not the initial idea, so i'm turning this down

[2016-03-03 22:04] #63 closed, assigned to sergiokopplin

[2016-03-03 22:53] #31 closed, assigned to sergiokopplin

[2016-03-03 22:57] sergiokopplin commented on #64
we don't need that. i guess! :smile:

[2016-03-03 22:57] #64 closed, assigned to sergiokopplin

[2016-03-03 23:07] sergiokopplin commented on #14
@Fohlen i'm not going to do that. After some days i decided to not apply the search function because jekyll doesn't have search native.
I know this is bad, but i'm not seeing any advantage, so i'm closing the issue.

[2016-03-03 23:07] #14 closed, assigned to sergiokopplin

[2016-03-03 23:08] sergiokopplin commented on #8
@Fohlen i couldn't find any documentation for this, like examples and admin area.
If you can help, we can open this again. But for now, i'm closing.

[2016-03-03 23:08] sergiokopplin commented on #50
After some tests, a dark version seems to be a bad idea.

[2016-03-03 23:08] #50 closed, assigned to sergiokopplin

[2016-03-03 23:09] sergiokopplin commented on #57
We have some users from outside Brasil, and they are writting in english, so we don't need to split the languages. Not for now.

[2016-03-03 23:09] #57 closed, assigned to sergiokopplin

[2016-03-03 23:15] sergiokopplin commented on #65
@aannasw thank you!

[2016-03-03 23:15] #65 closed, assigned to sergiokopplin

[2016-03-03 23:17] sergiokopplin commented on #67
done!

[2016-03-03 23:17] #67 closed, assigned to sergiokopplin

[2016-03-03 23:17] sergiokopplin commented on #59
Arti Annaswamy did a really good job explaining the entire process!

[2016-03-03 23:17] #59 closed, assigned to sergiokopplin

[2016-03-03 23:27] sergiokopplin commented on #55
[done](https://github.com/sergiokopplin/indigo/commit/3e742443f0ceb69149faf30ae4941e57c37d17d6) :metal:

[2016-03-03 23:27] #55 closed, assigned to nobody

[2016-03-04 12:52] sergiokopplin opened #68 "summary for readme"

[2016-03-04 14:59] sergiokopplin commented on #68
done!

[2016-03-04 14:59] #68 closed, assigned to sergiokopplin

[2016-03-11 00:52] KPdir opened #70 "Issue with blog index spacing."
Hi Sérgio, very nice theme, really like the aesthetics and functionality. I'm just getting set up but am having a issue with blog spacing on the index page, i.e. there is a huge gap between each of the list items and I don't understand where that might be coming from. Here is a link to the [page](http://kpdir.github.io/blog/).

I haven't made many modifications to the structure so far. They are: 1

[2016-03-11 02:03] brenodamata commented on #70
I just started having that same issue. I think it happens after the 3rd blog post.

[2016-03-11 09:37] sandeshsoni commented on #70
Even i am facing the same issue here http://sandeshsoni.com/blog/

It looks perfect locally. When compared both code,
- strict html is not set
- html lang="pt-BR" is also not set.

[2016-03-11 12:13] sergiokopplin commented on #70
Thank you guys for the feedback. I'm looking this right now!

:metal:

[2016-03-11 12:29] sergiokopplin commented on #70
Gap between posts and HTML Lang [solved](https://github.com/sergiokopplin/indigo/commit/346b511de3c228158de92f19d104af9feb3236a3).

@sandeshsoni: what's the problem with "strict html"? I don't get it.

Thank you guys for the comments!

---

[Update](https://help.github.com/articles/syncing-a-fork/) your forks now.

---

Give me a feedback later, please!

[2016-03-11 12:42] sandeshsoni commented on #70
@sergiokopplin
Doctype missing on live site. It was 100% height on both the places

<img width="902" alt="screen shot 2016-03-11 at 6 04 53 pm" src="https://cloud.githubusercontent.com/assets/3761745/13702436/a53cbb0c-e7b4-11e5-90e9-b4eb4687fadc.png">
<img width="948" alt="screen shot 2016-03-11 at 6 05 21 pm" src="https://cloud.githubusercontent.com/assets/3761745/13702437/a75642be-e7b4-11e5-8d0f

[2016-03-11 12:49] sergiokopplin commented on #70
@sandeshsoni.

---

Localhost:

![screen shot 2016-03-11 at 9 47 22 am](https://cloud.githubusercontent.com/assets/2743180/13702571/5a46cd4a-e76e-11e5-92d6-3bdf9305cfb3.png)

---

Production:

![screen shot 2016-03-11 at 9 48 28 am](https://cloud.githubusercontent.com/assets/2743180/13702597/7e43abf0-e76e-11e5-9e80-ac17b820ad1b.png)

---

I don't know why this is happening. Do you have any idea?
I

[2016-03-11 12:51] sergiokopplin commented on #70
@KPdir, do you have any other problems? Something with the math?

[2016-03-11 13:01] sandeshsoni commented on #70
@sergiokopplin
No, I dont have any idea.
I am investigating. If i find something, i will get back to you.

[2016-03-11 13:02] sergiokopplin commented on #70
Thank you for your help @sandeshsoni. If you need something, tell me.

[2016-03-11 15:13] sandeshsoni opened #71 "Duplication of title tags"
@sergiokopplin

I can see there are multiple title tags.

I suspect this issue is related to DOCTYPE not being set.

<img width="561" alt="screen shot 2016-03-11 at 8 37 27 pm" src="https://cloud.githubusercontent.com/assets/3761745/13706046/7668f8bc-e7c9-11e5-98dd-b98017eff421.png">

[2016-03-11 18:07] KPdir commented on #70
@sergiokopplin,  thanks for asking :). Math seems to render alright with the changes I mentioned in my opening post. I just tried entering a couple equations in one of the posts and it seemed to work, so no problems so far.

About the blog posts spacing. Great to hear its fixed. I am yet to update my fork though. I did not mention earlier that the same issue applies to Projects page as well. Does

[2016-03-11 21:14] sergiokopplin commented on #70
@KPdir Both. Test later and tell me, please.

[2016-03-11 21:14] #70 closed, assigned to sergiokopplin

[2016-03-11 21:39] KPdir commented on #70
It did not work, I must have screwed up syncing the fork perhaps. Do I need to have both gh-pages and master brach in my fork? Because after I had initially forked indigo, I made a master branch and deleted the gh-pages branch both locally and on my github.

I can delete my website and re-fork your latest scheme and apply the changes I have made from then on. Does not seem to be a big hassle at th

[2016-03-11 21:40] sergiokopplin commented on #70
Just update from gh-pages to your master. You can do that!

[2016-03-11 21:56] KPdir commented on #70
Not sure how I can do that but will try to find out. But main thing, I can confirm it is fixed now. :+1:

Thanks a lot!

[2016-03-11 22:00] sergiokopplin commented on #70
@KPdir: try that

git fetch origin
git merge gh-pages
git push origin master

[2016-03-12 15:41] brenodamata commented on #70
The fix worked for me @sergiokopplin!

Thanks! 👍🏽

[2016-03-14 11:49] sergiokopplin commented on #71
@sandeshsoni it's in before the render!
Jekyll is pulling them off, i don't know why.

Localhost has a different result, so i'm doubt of where is the problem

[2016-03-14 19:59] KPdir opened #72 "How to generate jemoji image links on project page?"
Hi @sergiokopplin  and Indigo users

I am not clear how to generate emoji image links that appear in the project title page in front of "jemoji:" (example: https://assets.github.com/images/icons/emoji/unicode/1f4da.png). I do not use Jekyll locally to generate my site. I currently just push changes directly on to github pages since i had some trouble installing Jekyll.  Could someone point out how

[2016-03-14 20:24] sergiokopplin commented on #72
Hi @KPdir, sorry about this. I forgot to explain how to create projects with emojis.
I'll do this later, but it's on my schedule now.

[2016-03-14 20:57] KPdir commented on #72
Sounds good, but is this a feature I can only use if I am generating my site locally?

[2016-03-16 14:32] sergiokopplin opened #73 "update screen-shot"
http://jekyllthemes.org/

[2016-03-16 14:34] sergiokopplin opened #74 "add theme for list"
- [x] sent e-mail for owner?

http://jekyllthemes.io/

[2016-03-16 14:37] sergiokopplin opened #75 "add theme"
https://drjekyllthemes.github.io/

[2016-03-17 13:30] sergiokopplin commented on #75
moved to https://github.com/sergiokopplin/todo/issues/39

[2016-03-17 13:30] #75 closed, assigned to nobody

[2016-03-17 13:31] sergiokopplin commented on #74
moved to https://github.com/sergiokopplin/todo/issues/39

[2016-03-17 13:31] #74 closed, assigned to nobody

[2016-03-17 13:31] sergiokopplin commented on #73
moved to https://github.com/sergiokopplin/todo/issues/39

[2016-03-17 13:31] #73 closed, assigned to nobody

[2016-03-21 12:59] sergiokopplin opened #76 "https problem"
travis is getting some error. need to fix them

[2016-03-21 16:11] Fohlen commented on #8
I've found the following article
- http://minuteware.net/2013-12-22-integrate-piwik-into-jekyll.html

Covering how to embed Piwik into Jekyll!

[2016-03-22 15:51] sergiokopplin opened #78 "https stopped working"

[2016-03-23 18:09] sergiokopplin opened #79 "Donate button"

[2016-03-24 00:24] sergiokopplin commented on #78
done!

[2016-03-24 00:24] #78 closed, assigned to nobody

[2016-03-24 00:24] sergiokopplin commented on #76
done!

[2016-03-24 00:24] #76 closed, assigned to nobody

[2016-03-24 12:06] ashishtibrewal opened #81 "Issues installing the 'nokogiri' gem"
Hi @sergiokopplin and other Indigo users !

I followed all the necessary step as mentioned in the [README.md](https://github.com/sergiokopplin/indigo/blob/gh-pages/README.md) file but I haven't been able to install the 'nokogiri' gem. I know that its prerequisites are [libxml2](http://www.xmlsoft.org) (Macports [link](https://trac.macports.org/browser/trunk/dports/textproc/libxml2/Portfile))  and

[2016-03-24 12:58] sergiokopplin commented on #81
@ashishtibrewal, i'm looking this. Thank you for reporting the problem.

[2016-03-24 14:26] #8 closed, assigned to sergiokopplin

[2016-03-24 19:28] sergiokopplin opened #83 "current playing"
http://kylebrumm.com/spotifyCurrentlyPlaying.js/

[2016-03-24 22:06] ashishtibrewal commented on #81
I managed to get it to work using the following:
`sudo gem install nokogiri -n /Library/Ruby/Gems/2.0.0/gems/ -- --use-system-libraries --with-xml2-include=/usr/include/libxml2/ --with-xml2-lib=/usr/lib/`

When running `bundle install`, I was unable to get much information on what actually caused the problem so I tried installing just the nokogiri gem using the following command: `sudo gem install

[2016-03-25 12:12] sergiokopplin opened #84 "Apply new color to indigo"
Not only purple. Maybe?

[2016-03-27 04:20] keegoid opened #85 "Jeet"
What do you think about using Jeet with Stylus?
https://github.com/mojotech/jeet

Love what you've done so far with indigo! Thanks for your great example. I'm really learning a lot from you.

[2016-03-27 23:50] RnbWd commented on #85
Honestly I love indigo and I'm making a portfolio blog with it - but I use postcss

https://github.com/postcss/postcss

Right now I've mixes of 50/50 compiling parts of stylus and slowly rewriting like minor things so that it's compatibility with... one of the countless modules one can use with postcss to do.. anything :stuck_out_tongue_closed_eyes:

[2016-03-28 00:31] sergiokopplin commented on #85
@keegoid, thank you for the comments.
I don't know jeet. I've heard about, but i didn't touch it yet.

The main porpuse of indigo is to be simple, really simple. I never thought of frameworks because i believe that indigo don't need them. What you think about?

[2016-03-28 00:34] sergiokopplin commented on #85
@RnbWd thank you for your words!

---

Yes, postcss is a great idea. No doubts about that.
I tried last week, but i'm not having time to apply postcss to the theme :cry:

---

I want to remove stylus because is getting slow sometimes, and that's a problem.
Do you have @RnbWd some kind of gulpfile ready to apply? Plugins and stuff?
Thank you!

[2016-03-28 00:35] sergiokopplin commented on #81
@ashishtibrewal, sorry about the delay.
I'm gonna look this issue this week ok?

---

Thank you again for reporting the problem.

[2016-03-28 00:36] sergiokopplin commented on #72
@KPdir, sorry for the delay.
I'm gonna look this issue this week.

[2016-03-28 05:28] cyfyifanchen opened #86 "any idea why single tilde doesn't work?"
I tried to use tilde, it didn't work. `function`

[2016-03-28 06:21] cyfyifanchen commented on #86
I found the background value and changed it `#eee`.

[2016-03-28 06:21] #86 closed, assigned to nobody

[2016-03-28 12:58] keegoid commented on #85
@sergiokopplin postcss looks cool. I'm also interested in keeping it light, fast and easy to maintain.
Looks like even the guy who made Jeet is now working with postcss ;)
https://github.com/peterramsing/lost

[2016-03-28 14:38] RnbWd commented on #85
I stopped working on it so I could focus on writing content and keep up to date with the current repo. It was difficult to maintain - if I can find the gulpfile I'll share it (but it might be lost) - but I explain what I did:

I compiled the styles into css with stylus - but I imported the styles into main.css using a postcss plugin. Then I replaced the variables with another postcss plugin - but

[2016-03-28 21:52] RnbWd commented on #85
oh i just noticed you created a postcss branch :100: - I can help experiment with that if interested.

also I've been writing all my posts / editing / previewing the theme using electron apps - I added a menu bar (OS X) to go back to the main page because I don't know how to return to the site if I leave - but it's been a fun experience

[2016-03-30 16:51] #71 closed, assigned to sergiokopplin

[2016-03-30 16:51] sergiokopplin commented on #71
@sandeshsoni, solved!

[2016-03-30 17:00] sergiokopplin commented on #72
Ok, so what i do?
I put a jemoji inside a post, like `:metal:`, which is :metal: in the rendered version.
So i go to devtools and look at the id for the image:

![screen shot 2016-03-30 at 1 57 59 pm](https://cloud.githubusercontent.com/assets/2743180/14150462/7cd0d516-f67f-11e5-8713-6d8b587eda31.png)

So, in this case is 2744. So i can put that code inside the config for the post:

`jemoji: <img

[2016-03-30 17:01] sergiokopplin commented on #72
closed

[2016-03-30 17:01] #72 closed, assigned to sergiokopplin

[2016-03-30 17:44] sergiokopplin commented on #79
closed! not done!

[2016-03-30 17:44] #79 closed, assigned to sergiokopplin

[2016-03-30 17:46] sergiokopplin commented on #81
Did you solve this?
I don't know ruby really well, but you tried to delete the repo and clone again?

---

Can you run jekyll without problems?

[2016-03-30 17:48] sergiokopplin commented on #83
no js for now!

[2016-03-30 17:48] #83 closed, assigned to sergiokopplin

[2016-03-30 17:48] sergiokopplin commented on #84
if someone wants variations, we can open this again

[2016-03-30 17:48] #84 closed, assigned to sergiokopplin

[2016-03-30 18:53] KPdir commented on #72
Thanks @sergiokopplin  :+1: , I haven't got a chance to try it yet but will do

[2016-03-30 19:00] npvinhphat opened #87 "[Need help] Build okay locally, bug on site"
When I build with gulp locally, the site is okay, but when I push it to github, there are some problems with the metadata.

[My site](http://npvinhphat.github.io)
[My repository](https://github.com/npvinhphat/npvinhphat.github.io)

Thank for any help :)

[2016-03-30 19:01] ashishtibrewal commented on #81
Yes, I did. :smiley: There's no problems with your repository or Jekyll (and they both work perfectly on my system now), it's something to do with the dependencies of gems listed in your Gemfile. The problems arose when running `bundle install`, which installs all the required gems mentioned in the Gemfile and their dependencies. So I'm guessing that the _nokogiri_ gem was a dependency for one of

[2016-03-30 21:38] sergiokopplin commented on #87
Here is the problem (i guess): [https://github.com/npvinhphat/npvinhphat.github.io/pull/1](https://github.com/npvinhphat/npvinhphat.github.io/pull/1)

[2016-03-30 21:39] #87 closed, assigned to nobody

[2016-03-31 12:45] sergiokopplin commented on #85
@keegoid, i'm sorry but i can't get interested in Jeet. I'm looking for postcss, that seems to be "the future".

---

@RnbWd: yes, i started with the branch, but just tests. I have to create it for real and apply for all the files. Do you know which pre-processor is the best for postcss?

---

I'm closing this, but we can keep talking about!
Thank you guys!

[2016-03-31 12:45] #85 closed, assigned to sergiokopplin

[2016-03-31 14:40] sergiokopplin commented on #81
Thank you for this list of reported issues.

I think if someone get this same problem, they can take a look in this issue to see how to solve looking on these links.

---

I'm putting this in the readme, in the "how to" section.

---

Thank you for reporting that! If you have any other problems, just tell me!

[2016-03-31 14:40] #81 closed, assigned to sergiokopplin

[2016-04-01 01:34] cyfyifanchen opened #88 "Do posts' names have to start with dates in _posts folder?"
Do posts' names have to start with dates in _posts folder?

[2016-04-01 01:50] sergiokopplin commented on #88
Yes. Take a look here: https://jekyllrb.com/docs/posts/

---

[code]

[2016-04-01 01:59] cyfyifanchen commented on #88
thanks for the response.

I just tried again with `.md`, and it didn't work.

[2016-04-01 01:59] sergiokopplin commented on #88
Can you post the filename, content and error message here?

[2016-04-01 02:11] cyfyifanchen commented on #88
There is no error mesg, I name my file `2016-03-31-tt.md`. Then run `gulp`, no new blog post show up. But if I change name to `2016-03-31-tt.markdown`. It will show.

[2016-04-01 13:31] sergiokopplin commented on #88
You must use '.markdown' as extension.

Like this one:

[code]

[2016-04-01 13:31] #88 closed, assigned to nobody

[2016-04-01 13:54] sergiokopplin opened #89 "todo"
add theme:
- [x] https://drjekyllthemes.github.io/
- [x] http://jekyllthemes.io/

---

update screen-shot:
- [x] http://jekyllthemes.org/

[2016-04-01 21:00] cyfyifanchen commented on #88
cool, good to know. Thanks.

[2016-04-23 13:50] sergiokopplin opened #92 "error: Liquid Exception: undefined method `gsub' for nil:NilClass in feed.xml"
Liquid Exception: undefined method `gsub' for nil:NilClass in feed.xml

[2016-04-23 14:10] #92 closed, assigned to sergiokopplin

[2016-05-09 13:51] sergiokopplin commented on #89
done!

[2016-05-09 13:51] #89 closed, assigned to sergiokopplin

[2016-05-09 20:04] tombusby opened #97 "Social link mouse-over URL display truncates linkedin"
I'm not sure how to fix this one, or I'd put a patch in myself.

http://tom.busby.ninja/

Check out my little boiler-plate blog. If you mouse-over linkedin, the href is actually correct, but it stops displaying the linkedin URL after the first `-`.

As such, `http://linkedin.com/in/thomas-busby-74482b54` becomes `http://linkedin.com/in/thomas-`

[2016-05-09 20:26] tombusby commented on #97
Figured it out, just a line-breaking (combined with `overflow: hidden`) issue.

[2016-05-09 21:36] #97 closed, assigned to nobody

[2016-05-09 21:36] sergiokopplin commented on #97
Thank you for reporting the issue.

[2016-05-15 15:09] jehartzog opened #100 "Support for extensionless permalinks - no trailing slash or .html"
First of all, thanks for the work on this template and build scripts, it is a fantastic start to someone new to both Jeykll and most of the other tools in here!

When building my site, I noticed that using [extensionless permalinks](https://jekyllrb.com/docs/permalinks/#extensionless-permalinks) led to 404 errors on the dev server and caused the Travis to build to fail. For example, a global perma

[2016-05-16 19:55] mehmandarov opened #104 "Header animation blinks twice on load"
When animation is set to true the header - like the one on the blog or the main page - seems to blink twice on load. It is cool that it appears, but it probably should appear on white background, not on top of the (same) header that is there already?

[2016-05-16 19:56] mehmandarov opened #105 "Add sitemap.xml generation"
Is it possible to add sitemap.xml generation?

[2016-05-16 20:01] jehartzog commented on #105
It already is. Look at [_.config.yml](https://github.com/sergiokopplin/indigo/blob/gh-pages/_config.yml) line 74, which activates the [Jekyll-sitemap](https://github.com/jekyll/jekyll-sitemap) plugin.

It silently generates sitemap.xml for you, but you only see it in the compiled site under the _site directory which isn't synced to the repo. It is generated by github pages just fine though.

[2016-05-16 20:14] mehmandarov commented on #105
You are absolutely right. Sorry about that! Thanks!

[2016-05-16 20:14] #105 closed, assigned to nobody

[2016-05-17 00:05] mehmandarov commented on #104
I have tested it and the fix from @jehartzog works fine.

[2016-05-17 00:30] #104 closed, assigned to nobody

[2016-05-17 00:45] sergiokopplin commented on #105
@mehmandarov if you have another doubt, open a issue.

---

Thank you again @jehartzog

[2016-05-19 03:29] sergiokopplin commented on #100
PR merged!

[2016-05-19 03:29] #100 closed, assigned to nobody

[2016-05-20 13:38] mehmandarov opened #108 "Mouseover in header has wrong overlay index"
Mouseover in header has possibly wrong z-index. See attached screenshot. Mouseover is shown under  the separator line.
![screen shot 2016-05-20 at 15 31 06](https://cloud.githubusercontent.com/assets/5373549/15429249/594df8d2-1ea0-11e6-909f-058c090c2f5c.png)

Thanks,
Rustam

[2016-05-20 13:39] mehmandarov commented on #105
Thanks! @sergiokopplin

[2016-05-20 18:27] #108 closed, assigned to nobody

[2016-05-20 20:13] mehmandarov commented on #108
Thanks!

[2016-05-21 18:01] mehmandarov opened #112 "Tags get too close when spanning over several lines"
Tags get too close when spanning over several lines. There is not much space between lines. See attached screenshot.

![screenshot_2016-05-21-11-02-41](https://cloud.githubusercontent.com/assets/5373549/15449980/69120e36-1f8e-11e6-85d8-353320fac0c7.jpg)

[2016-05-21 19:21] sergiokopplin commented on #112
fixed - #114

[2016-05-21 19:21] #112 closed, assigned to nobody

[2016-05-22 20:26] AGresvig opened #116 "Why do backtick-style code highlighting not work?"
First off, thanks for a fantastic theme! So clean, and well featured.

I cannot get the new backtick-style code highlighting feature of [github-pages 3.0](https://help.github.com/articles/creating-and-highlighting-code-blocks/) to work.

I also see examples use old-style `{% highlight lang %}` syntax.

What's missing for it to work?

Thanks!

[2016-05-22 20:39] AGresvig commented on #81
FYI @sergiokopplin I had to go through quite a bit of pain to get this up and running on my El Capitan Macbook. I did a write-up of my success recipe in case it helps others: https://gist.github.com/AGresvig/31f780b85394612957e7af44bc29837d

[2016-05-22 21:04] jehartzog commented on #81
I also had a lot of pain getting this up on running on windows via Vagrant + VirtualBox. I plan on putting together a polished Vagrant package that should make this easier for all users. I have an early version [here](https://github.com/jehartzog/github-page-vagrant), but that version isn't really stable yet.

---

#### Related - replace Stylus with SASS

@sergiokopplin one more thing which is kin

[2016-05-23 21:39] sergiokopplin commented on #81
@jehartzog i'm moving this to another issue ok? I guess we have to talk about!

[2016-05-23 21:42] sergiokopplin opened #117 "Replace Stylus with Sass"
Originally from #81, in the final discussion.

---

Related - replace Stylus with SASS

@sergiokopplin one more thing which is kind of related, all this pain to ensure a setup MUST be done because of the need to use stylus, which also means you can't update any css without working with your full dev environment.

I am in a unique situation where most of the day I can only use the Github website (c

[2016-05-23 21:47] sergiokopplin commented on #116
You have to write in the Jekyll way.
Jekyll uses Rouge to compile code for markdown, so you must use the `{% something %}`.

---

References:
- [https://jekyllrb.com/docs/templates/#code-snippet-highlighting](https://jekyllrb.com/docs/templates/#code-snippet-highlighting)
- [http://rouge.jneen.net/](http://rouge.jneen.net/)

[2016-05-23 22:55] jehartzog commented on #117
@sergiokopplin, let me know if you think this is worth a shift for your project, I needed it for my own reasons (can only use github web portal during work hours), but it's obviously a big shift for the template.

Another benefit is that it cleans up the file structure and makes it ever easier to follow how everything works; the css files are gone, no need to compile and copy over (or run gulp to

[2016-05-23 23:25] sergiokopplin commented on #117
@jehartzog i'm doing here. https://github.com/sergiokopplin/indigo/tree/sass

I'm planning to move to sass right now!
We have a lot of benefits, so why not?

[2016-05-23 23:42] sergiokopplin commented on #117
@jehartzog i think now it's reaky to be replaced! Can you take a look on the code? Thank you

[2016-05-24 00:11] jehartzog commented on #117
I have a few updates, finishing them up now!

[2016-05-24 00:20] jehartzog commented on #117
You work very quickly! It took me longer to shift over to SASS, but also because I wanted to use SCSS format rather than SASS which takes extra conversion but isn't needed. I sent the PR #120 with a few additions and to inline the compiled CSS.

[2016-05-24 00:47] sergiokopplin commented on #117
I'm testing all the pages now, we can merge all this tomorrow. Looking for improvements!

[2016-05-24 16:12] sergiokopplin commented on #117
Merged! Testing!

[2016-05-24 16:12] #117 closed, assigned to sergiokopplin

[2016-05-24 16:12] #116 closed, assigned to nobody

[2016-05-26 06:01] dwlfrth opened #123 "'page' layout: margin-top"
Hello Sergio,

First of all, thanks for the great theme!
I'd like to know if it's on purpose (I'd say yes since the condition is explicitly for that) that 'layouts/default.html' do not use 'page' as a class when the page title is not "About" or "404".

What is the reason behind that ?

Create new pages do no benefit the 'margin-top' of the CSS without having to modify original code.

Let me know!

[2016-05-26 16:24] sayakbiswas opened #124 "@import for google fonts not working with sass"
Hi,

First of all thank you so much for the amazing theme. I am using it for my personal website.

I customized it minimally by adding the Raleway, Fira Sans and the PT Serif google fonts. I was able to use @import statements to load these fonts from google fonts back with the stylus files. But now with sass, this doesn't seem to work anymore. So, I ended up putting them as <link>(s) in the _layou

[2016-05-26 22:17] dwlfrth commented on #123
Am I right assuming the the condition is in place not to have a margin when we display the "header" (the block containing the profile pic, the name, the bio and the social links) ?

If yes, shouldn't the condition be

{% if showHeader != true %}

rather than

{% if page.title == "About" or page.title == "404" %}

That would make the page rendering a bit more "standard" and "dynamic" since the cond

[2016-05-26 22:56] sergiokopplin opened #125 "more instructions"
like: https://github.com/willianjusten/cards-jekyll-template

[2016-05-27 02:04] sergiokopplin commented on #125
done!

[2016-05-27 02:04] #125 closed, assigned to nobody

[2016-05-27 02:06] sergiokopplin commented on #124
you did like this?
`@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);`

[2016-05-27 02:08] sergiokopplin commented on #123
@dwlfrth thank you for your questions!

---

So,
What you think about a pull request, can you make one with these changes?

[2016-05-27 11:53] dwlfrth commented on #123
I sure can.
Just wanted to know if I was right about that condition in 'layouts/default.html' ?
(To avoid getting the margin-top when the "header" is displayed)

[2016-05-27 13:31] sayakbiswas commented on #124
Yes, let me share my import statements with you once I get to my PC.

[2016-05-27 18:06] sayakbiswas commented on #124
Okay, so this is what I used:
`@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,500,300,300italic,600,600italic,700,700italic,500italic);`

[2016-05-27 20:25] sergiokopplin commented on #124
Is it now working?

[2016-05-27 22:44] sayakbiswas commented on #124
No Sergio.

[2016-05-27 22:52] sergiokopplin commented on #124
I'll try later. But seems ok. If is not working, something is missing.

[2016-05-27 22:55] sayakbiswas commented on #124
Sure, let me know if you need anything else.

[2016-05-28 14:57] sergiokopplin commented on #124
I didn't find any answers for this question.
You can put your fonts in the html, that's the way in this case.

[2016-05-28 14:57] #124 closed, assigned to nobody

[2016-05-28 15:02] sayakbiswas commented on #124
Okay, cool. Thanks for looking into it.

[2016-05-28 15:05] #123 closed, assigned to nobody

[2016-05-28 15:06] sergiokopplin commented on #123
Thanks @dwlfrth. Nice pull request!

[2016-06-01 10:33] ghost opened #131 "Avatar still links to /about when about is turned off"
If I turn off the "about" option in _config.yml, the link to the about page is removed, but my avatar still links to /about. Any way to fix it?

[2016-06-05 18:48] fluency03 opened #132 "want to add `tags` in nav.html"
I would like to add an `Tags` option in navigation.

In the file `nav.html`, I added this:

[code]

In `_config.yml`, I added:

[code]

But it is not showing:

![image](https://cloud.githubusercontent.com/assets/7440735/15807443/ceed334e-2b5e-11e6-925e-39a9a1937c1c.png)

[2016-06-05 18:59] fluency03 commented on #132
It is working, I changed

[code]

into

[code]

And

[code]

into

[code]

[2016-06-05 18:59] #132 closed, assigned to nobody

[2016-06-07 08:06] ameya0111 opened #133 "how to add new sections to the website apart from Blog Projects and About ?"
Hello I was wondering how I can add a new Section to my website.
It has to be like Projects not like a Blog.

Thanks.

[2016-06-07 15:59] ameya0111 commented on #133
I was able to add the new sections that I wanted. It involved making changes to the _include, _sass directories, and the _config.yml files.

[2016-06-07 18:24] sergiokopplin opened #134 "BrowserSync stream instead of reload"
not doing. we are blocked by the jekyll build.

[2016-06-07 20:51] #134 closed, assigned to nobody

[2016-06-07 21:01] #131 closed, assigned to nobody

[2016-06-07 21:02] sergiokopplin commented on #131
[fixed](https://github.com/sergiokopplin/indigo/commit/9e32a5d27ae82a2ac2dea4ce68ac7dad75b768d9).

thank you for the issue.

[2016-06-07 21:02] sergiokopplin commented on #133
Do you need something else?

[2016-06-07 21:02] #133 closed, assigned to nobody

[2016-06-09 14:18] laurenmackey opened #136 "Adding HTML file with CSS and JS in post"
I have an interactive map I want to load into a post. I have it as an HTML file that links to CSS and JS files. How do I incorporate all three file types? I can only get it to load the HTML but not the other two within the post.

[2016-06-12 17:44] mehmandarov opened #137 "Add support for several authors"
Is it possible to add support for several authors to post content to the blog? (New author = Name + Profile picture).

[2016-06-15 01:48] sergiokopplin commented on #136
@laurenmackey, do you have an example inside github?

[2016-06-15 01:50] sergiokopplin commented on #137
Not today, we have to create this function.
We have to update the SEO, the config files and the layout. It's not so simple, but we can try.

---

What do we need: different authors with names, pictures, social links, etc. Something else?

[2016-06-15 03:26] jehartzog commented on #136
I'm not sure if this is what you want, but I was able to include inline CSS and JS into a single post [here](https://raw.githubusercontent.com/jehartzog/jehartzog.github.io/master/_posts/2016-05-23-countdown-to-freedom.markdown). I used it to make a [javascript countdown](http://www.johnehartzog.com/blog/countdown-to-freedom).

[2016-06-15 03:36] sergiokopplin commented on #136
@jehartzog - thank you for the answer.

[2016-06-15 08:47] mehmandarov commented on #137
@sergiokopplin: Yes, I think it is a pretty good start. We should be able to tag posts with a username in the front matter and by that defining the authorfor the post. Also a default user, so we dont break the previous posts.

[2016-06-15 12:49] mehmandarov opened #138 "Improve Twitter Summary Card"
Improve Twitter summary card to contain a picture if available in the post, or author picture if no picture is available in the post. Optional: Add possibility to choose a picture for share cards (Twitter, Facebook, etc.). Example: https://dev.twitter.com/cards/types/summary-large-image.

[2016-06-15 14:20] sergiokopplin opened #139 "Hidden content"
![screen shot 2016-06-15 at 11 19 47 am](https://cloud.githubusercontent.com/assets/2743180/16083375/2d3437ca-32eb-11e6-8336-117ff0337b3b.png)
![screen shot 2016-06-15 at 11 19 55 am](https://cloud.githubusercontent.com/assets/2743180/16083377/2d4dd96e-32eb-11e6-8bc0-f0142f185b6e.png)

[2016-06-15 17:54] lichen999 opened #140 "How to change the tab name?"
I would like to rename projects and Blog into other names. Thanks!

[2016-06-16 00:35] mehmandarov commented on #140
+1 :-)

[2016-06-18 15:21] sergiokopplin commented on #136
@laurenmackey do you need something else?

[2016-06-18 15:21] #136 closed, assigned to nobody

[2016-06-18 16:21] sergiokopplin commented on #137
done. take a look #141

o//

[2016-06-18 16:21] #137 closed, assigned to nobody

[2016-06-18 16:26] laurenmackey commented on #136
Sorry haven't had a chance to try this out myself, but it looks like I can get it to work. Thanks for the help!

[2016-06-18 16:43] sergiokopplin commented on #138
![screen shot 2016-06-18 at 1 42 30 pm](https://cloud.githubusercontent.com/assets/2743180/16172235/8c39c98a-355a-11e6-8071-79b6bca90fbb.png)

done!

[2016-06-18 16:43] #138 closed, assigned to nobody

[2016-06-18 16:50] mehmandarov commented on #138
Wow, you are quick! Awesome fixes! Thanks!!

[2016-06-18 16:51] mehmandarov commented on #137
Wow you are quick! Awesome fixes! Thanks!! I will have a look at that tomorrow! \o/

[2016-06-18 16:54] sergiokopplin commented on #139
done!

[2016-06-18 16:54] #139 closed, assigned to nobody

[2016-06-18 17:01] sergiokopplin commented on #140
You can't do that.
I was looking the code and it's too much linked inside with file names and configurations.

---

Can we solve this in other way?

[2016-06-19 16:39] manifestlifeinc commented on #140
I was able to change the the "Home" Tag
[Example](http://www.manifest.life/blog/)
- Replaced "Home" with "Manifest Life" **line 1** `_includes/header.html`

[code]
- Replaced "Home" with "Manifest Life" **line 1-7** [_includes/nav.html](url)

[code]
- Finally, at the root `index.html` file

[code]

Hope this helps. @lichen999 @sergiokopplin @mehmandarov

[2016-06-20 00:43] sergiokopplin commented on #140
thank you @manifestlifeinc

---

he's right. we can do, but needs some time to think first, because we have some logical operations with the layout names

[2016-06-20 00:43] #140 closed, assigned to nobody

[2016-06-21 23:33] sergiokopplin opened #142 "Spoiler Color"
👍

[2016-06-21 23:34] sergiokopplin opened #143 "Evidence Color"
👍

[2016-06-24 23:45] sergiokopplin opened #144 "More Badges"
https://github.com/bvaughn/react-virtualized-select/

[2016-06-25 19:26] cyfyifanchen opened #145 "anyway I can link project title under the project page directly to github repo?"
I want it to be able to go to github repo directly without going details of project. Is it possible?

[2016-06-26 00:36] aallam opened #146 "initpost script"
Hello,

The "Initpost.sh" script is not working for me correctly because it generates a post with wrong time form (hh:mm:ss) which Jekyll does not accept somehow, and the post does not show on the blog.

To solve this, I changed the variable TIME to become : TIME=$(date +"%H:%M"). Now the script works as expected for me.

[2016-06-26 02:11] sergiokopplin commented on #146
Can you create a pull request with this?
Thank you

[2016-06-26 02:12] sergiokopplin commented on #145
Can you give me more details? I didn't understand.

[2016-06-26 02:27] cyfyifanchen commented on #145
If I am on project index page, where has all project titles, I want make those project titles `<a>` tags. So when I click any project titles on project index page, those links take me to my github repo.

[2016-06-27 20:39] matkoch opened #148 "Line breaks?"
_I wanna be focused, but first of all - thanks for the theme_ 👍

I'm wondering why line breaks in mark down files do not create line breaks in generated pages. AFAIK, this would be the normal behavior.... Do I really need to use paragraph tag all the time?

[2016-06-27 20:42] matkoch commented on #148
I'm so sorry, had `html` instead of `md`. Will leave this anyways :)

[2016-06-27 20:42] #148 closed, assigned to nobody

[2016-06-27 20:57] sergiokopplin commented on #148
If you need some help, tell me.

[2016-06-27 22:49] matkoch opened #149 "Local vs. Server"
Alright, on my local machine, everything works fine. But on github, all the links are broken. You can reach me at skype:ithrowexceptions.

[2016-06-27 22:53] matkoch commented on #149
Damnit... It's always 20 minutes wondering, then posting the issue, then solving it myself...

Was missing 'www' for my hostname. Sorry :/

[2016-06-27 22:53] #149 closed, assigned to nobody

[2016-06-27 23:05] sergiokopplin commented on #149
No problems! I do same like this every time. haha

[2016-06-27 23:10] matkoch opened #150 "GitHub Icon shown, although username is not specified"
Alright, now I hope that's a real issue. I commented out my github username. However, there is still some icon.

http://matkoch.github.io
https://github.com/matkoch/matkoch.github.io/blob/master/_config.yml

[2016-06-27 23:14] matkoch opened #151 "Additional social icons"
Could you provide additional social icons for skype, stackoverflow, and maybe some others?

Alternatively, do you have any source for the existing ones, so I could make a PR ?

_Ps: That's also a real issue_ :grin:

[2016-06-27 23:26] matkoch commented on #150
I guess this variable is set somewhere else. For now I excluded all social links, but the issue remains. Having set the github username solves it of course, but is probably not optimal 😔

[2016-06-28 14:31] sergiokopplin commented on #150
I'm not seeing the icon here. Are you shure about this?
![screen shot 2016-06-28 at 11 31 29 am](https://cloud.githubusercontent.com/assets/2743180/16419394/e15f0c92-3d23-11e6-9a98-d450ec188679.png)

[2016-06-28 14:38] matkoch commented on #150
As I said, I already removed all of the social links.

The issue didn't appear locally, only if commited to github pages.

[2016-06-29 00:54] sergiokopplin commented on #146
merged! thank you!

[2016-06-29 00:54] #146 closed, assigned to nobody

[2016-06-29 01:01] sergiokopplin commented on #145
done. #152

[2016-06-29 01:04] sergiokopplin commented on #150
Hmm, interesting.
The _config file is not from the indigo theme, is that right?

[2016-06-29 01:04] #150 closed, assigned to nobody

[2016-06-29 01:07] sergiokopplin commented on #151
https://github.com/sergiokopplin/indigo/blob/gh-pages/_includes/icons.html

That's the source file for icons.
I was editing the icons in icomoon, i guess.
You have to select the icons (skype, etc) and export as svg and add in that file.

Then you edit the config file and [social-links.html](https://github.com/sergiokopplin/indigo/blob/gh-pages/_includes/social-links.html)

---

can you make the pr

[2016-06-29 01:10] #144 closed, assigned to nobody

[2016-06-29 01:56] aallam opened #153 ""tags" variable in initpost.sh"
Hello,

A small typo in the script that prevents posts from been shown on the blog.
The variable "tags" didn't work for me, I had to replace it with "tag". (it's how it's done in the example posts)

Cheers.

[2016-06-29 03:38] cyfyifanchen commented on #145
Thanks for the the PR to fix this problem. However, the style is wrong after I put `<a>` tag in title as
`title: "<a href='https://www.google.com'>google</a>"
`This line gets pushed down since part of the `.url` style is `display: block`.

[2016-06-29 13:16] sergiokopplin commented on #153
Nice PR. I didn't see that!

[2016-06-29 13:16] #153 closed, assigned to nobody

[2016-06-29 13:17] sergiokopplin commented on #145
Are you putting a link inside the title of the project?
Can you upload a screenshot?

[2016-06-29 16:20] cyfyifanchen commented on #145
![image](https://cloud.githubusercontent.com/assets/2340896/16460109/0fad5b20-3de3-11e6-90a2-c36aabf69767.png)

![image](https://cloud.githubusercontent.com/assets/2340896/16460114/199fa110-3de3-11e6-8fa9-01508df774ff.png)

[2016-06-29 16:51] sergiokopplin commented on #145
Don't edit the title. Add the link inside externalLink.

[code]

[2016-06-29 16:51] #145 closed, assigned to nobody

[2016-06-29 16:57] cyfyifanchen commented on #145
Nice, thanks man.

[2016-06-29 20:43] sergiokopplin opened #155 "Sassline"
https://github.com/jakegiltsoff/sassline

[2016-07-01 16:20] cyfyifanchen opened #156 "Possibility of adding infinite scroll to the blog index page?"
I know it can be a huge plus to UX, is it possible?

[2016-07-03 14:24] sergiokopplin commented on #156
Can you create a PR?

---

references:
- http://tobiasahlin.com/blog/infinite-scroll-with-jekyll/
- https://github.com/tobiasahlin/infinite-jekyll
- https://github.com/ColinEberhardt/jekyll-pagination-infinite-scroll
- http://blog.scottlogic.com/2014/10/14/jekyll-pagination-and-infinite-scrolling.html

[2016-07-03 20:07] cyfyifanchen commented on #156
I read the articles you referred. I am not sure if I can make it happen since this site was customized heavily from Jekyll, and I don't have any experience with Jekyll. But I will for sure do more research.

[2016-07-06 18:50] dineshnagarit commented on #156
I will also try to implement infinite-scroll at my end. After completing I will  create a PR.

[2016-07-06 19:54] sergiokopplin commented on #156
thanks @yifanchen, @dineshnagarit

---

i'm on a new project, so i don't have time to do right now. 👎

[2016-07-12 04:55] ace139 opened #159 "Alignment-Justify for the paragraphs in the post."
When writing the post, its obviously left aligned. But it doesn't look good enough according to me. I think that the paragraphs should be aligned justify.

[2016-07-18 14:22] #142 closed, assigned to sergiokopplin

[2016-07-18 14:22] #143 closed, assigned to nobody

[2016-07-18 14:22] #155 closed, assigned to nobody

[2016-07-18 14:23] #156 closed, assigned to nobody

[2016-07-18 14:23] #151 closed, assigned to nobody

[2016-07-18 14:23] sergiokopplin commented on #159
Are you saying all the paragraphs in all the pages?

[2016-07-18 14:27] ace139 commented on #159
Yes. I have been seeing many blogs in markdowns, most of them gave the problems. So will it be possible to justify the paragraphs in the post?

Soumyo Dey

On Mon, Jul 18, 2016 at 7:53 PM +0530, "Sérgio A. Kopplin" <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you saying all the paragraphs in all the pages?

##

You are receiving this because you authored the thread.
Repl

[2016-07-18 18:13] sergiokopplin commented on #159
Take a look!
http://stackoverflow.com/questions/14051715/markdown-native-text-alignment

---

Hope it helps!

[2016-07-18 18:13] #159 closed, assigned to sergiokopplin

[2016-08-02 01:34] bumble-bee-chuna opened #162 "'npm run test' resulting in many errors"
`npm run test` results in the following errors. Additionally, site is not visible when package is forked and renamed to insertUsernameHere.github.io

[code]

[2016-08-02 09:44] sergiokopplin commented on #162
Thanks for the issue! 👍

---

I'm gonna check this tonight!

[2016-08-12 12:32] muggin opened #163 "Adding Custom Pages"
Hi,

First of all, thanks for sharing indigo... I really appreciate how 'clean' and minimalistic it is.
I would like to use indigo as a template to create my own GH Page, but I'd like to add one more page type. Apart from the regular blog, I'd like to have a 'Today I Learned' micro-blog page where I would post just some useful code snippets and information that I pick up on a day to day basis, but

[2016-08-24 11:27] jaimejim opened #164 "Travis build fails"
Hi,

thanks for the work on Indigo, it is really cool. I noticed that the latest build should not pass Travis, is that correct?
![screen shot 2016-08-24 at 13 43 45](https://cloud.githubusercontent.com/assets/1798358/17928003/46051fba-6a01-11e6-9bab-aeb681712693.png)

It is giving me a bit of problems but for another reason:
"Could not find .travis.yml, using standard configuration."

I do not kno

[2016-08-26 19:06] muggin commented on #163
@sergiokopplin can I count on your help or should I close this issue? Thanks

[2016-08-26 19:29] jehartzog commented on #163
@muggin I can give you a high level overview of how to do this.
- Create a new .html file in [_includes/](https://github.com/sergiokopplin/indigo/tree/gh-pages/_includes) called 'blog-snippets.html'. You'll need to customize this page to show the snippets you want, it should be relatively straightforward using the [Liquid templating language](https://jekyllrb.com/docs/templates/) in Jekyll. You sh

[2016-09-11 14:56] sergiokopplin commented on #162
Hello! I just updated some files, can you check now?

[2016-09-11 14:57] sergiokopplin commented on #163
@muggin sorry for the delay, i'm on a new job.

---

@jehartzog answer is the right answer. Is it helping you?

[2016-09-11 15:00] sergiokopplin commented on #164
Thanks for the issue.
This is a problem, some people are sending PR when they update their own files on their own forks.

---

Are you having problems yet? I did some updates on files, check out later.

[2016-09-12 06:02] jnanadarshan opened #168 "Installation Failed"
My Installtion failed.
![capture](https://cloud.githubusercontent.com/assets/16976738/18426106/961ebdfa-78dc-11e6-9c1b-7fd2534eac80.PNG)

[2016-09-12 13:54] sergiokopplin commented on #168
Have you installed all the gem dependencies?

[2016-09-14 17:03] muggin commented on #163
I tried figuring it out but got stuck and left the idea, unfortunately.

[2016-09-14 18:38] ShantanuJoshi commented on #163
Check out this two step blog post that explains how to add new pages this might be able to help you out (step 2) : http://artiannaswamy.com/build-a-github-blog-part-2

[2016-09-18 17:06] krzysiekpiasecki commented on #168
Run `bundle exec jekyll serve`. It should work.

[2016-09-20 11:39] abhi18av opened #170 "Unable to setup projects (URL clash perhaps )?"
Hi @sergiokopplin

I've been using this awesome template but I've run into a problem)

I have this project [Github Resume](https://github.com/abhi18av/resume)

![screenshot from 2016-09-20 16-03-07](https://cloud.githubusercontent.com/assets/12799326/18668742/d218ff18-7f54-11e6-936c-ed1ac3c014e0.png)

And it says the website is served under the **abhi18av.github.io/resume**  domain but on the doma

[2016-09-20 11:41] sergiokopplin commented on #170
you must work on gh-pages branch, i guess

[2016-09-20 11:41] #170 closed, assigned to nobody

[2016-09-20 11:45] abhi18av commented on #170
As in? What does that mean, I'm sorry I didn't get you that well. In the repo there's no travis build etc so why do I still need to link it to gh-pages?

[2016-09-20 13:17] sergiokopplin commented on #170
For example:

I have my master rep, which is https://github.com/sergiokopplin/sergiokopplin.github.io.
That repo goes to https://koppl.in and i work on master.

Every subdomain like http://koppl.in/indigo has to be a repository with "gh-pages" branch, instead of master.

---

So, do you have a master one?
Am i helping you? Sorry if i understood wrong.

[2016-09-20 16:30] #162 closed, assigned to sergiokopplin

[2016-09-20 16:30] sergiokopplin commented on #163
Is that solved @muggin?

[2016-09-20 16:30] #163 closed, assigned to sergiokopplin

[2016-09-20 16:30] #164 closed, assigned to sergiokopplin

[2016-09-21 13:13] renatogalvones opened #171 "Change instructions to be "jekyll-now" like"
First of all, congratz on this amazing work, dude!

I think it would be more user friendly if Indigo was already up and running asap.

So, here's my suggestion/reference:

https://github.com/barryclark/jekyll-now

[2016-09-21 13:44] sergiokopplin commented on #171
Nice suggestion.

I'll read that to apply on indigo! Seems to be great!

Can you help on a pull request?

[2016-09-21 21:06] renatogalvones commented on #171
This week is a little messy for me. I think I can work on something on the next one.

[2016-09-21 23:36] beckah commented on #162
everything works great! thank you. :) sorry for the delay!

[2016-09-22 12:40] sergiokopplin commented on #162
Solved.

[2016-09-22 16:49] abhi18av commented on #170
I apologize @sergiokopplin for the late reply, something came up and time flew)

So, I've experimented and after changing to `master` instead of `gh-branch` the site is being served https://abhi18av.github.io/resume/

But what I wish, is to have it served under the Project catalog in the template so how can I go from
https://abhi18av.github.io/resume/  --->>>   https://abhi18av.github.io/projects/

[2016-09-28 03:46] abhi18av opened #172 "ReOpened :: Unable to setup projects (URL clash perhaps )?"
@sergiokopplin , I felt I should reopen the issue https://github.com/sergiokopplin/indigo/issues/170 as the problem hasn't been solved yet. Please respond, so as to what I should do next to have the URLs setup properly.

The page is served under`abhi18av/resume`

whereas, I want it to be served under `abhi18av/projects/resume`

Thanks :)

[2016-10-10 01:13] sergiokopplin commented on #168
@jnanadarshan any problems yet?

[2016-10-10 01:13] #168 closed, assigned to sergiokopplin

[2016-10-10 01:19] sergiokopplin commented on #172
![image](https://cloud.githubusercontent.com/assets/2743180/19225223/65e384ca-8e6e-11e6-9b95-4779a1d88e94.png)

---

![image](https://cloud.githubusercontent.com/assets/2743180/19225225/70488a00-8e6e-11e6-96c7-19726e909bc4.png)

---

![image](https://cloud.githubusercontent.com/assets/2743180/19225228/7c19d4d8-8e6e-11e6-9eae-630288829374.png)

---

is that what you're looking for?

[2016-10-10 02:37] abhi18av commented on #172
Hmm, something similar.

Actually, I need to understand how does the project section really work?

Should I use a different tag to make jekyll count it as a project and populate the ~/projects webpage on the site? And, could you please also tell me whether I can add more permalinks like that in the same file `about.md` ?

[2016-10-13 23:48] aniellodesanto opened #175 "Embedding link in bio?"
Hi,

before bothering you with this stupid issue, let me thank you for this beautiful template :)

Now, I am trying to add a link in my bio, but this results in some of it wrongfully showing up at the top of every page (apart from being correctly embedded in the home bio).
For example, if I add (I might be doing this wrong):

`<a class="link" href="https://github.com/sergiokopplin/indigo">Indigo t

[2016-10-16 00:27] kamwysoc opened #176 "There is no Stackoverflow icon in social-links"
Could you provide stackoverflow icon in icons.html?

http://stackapps.com/questions/347/svg-versions-of-the-logos

http://stackoverflow.com/company/logos

I've tried to paste this code

https://jsfiddle.net/902d7bxc/

to icons.html but the icon not showing.

<img width="741" alt="screen shot 2016-10-16 at 10 44 56" src="https://cloud.githubusercontent.com/assets/9297748/19416301/acf82fcc-938d-11e6

[2016-10-17 20:56] cyfyifanchen opened #177 "Table support in .md?"
I tried to insert a table with .md, didn't seem working. Any ideas what's going on?

[2016-10-19 00:48] rowmatrix commented on #176
@sergiokopplin @k8mil I created a pull request to solve this issue

[2016-10-19 18:50] sergiokopplin commented on #176
@rowmatrix the build is broken, can you fix that?

![image](https://cloud.githubusercontent.com/assets/2743180/19532815/1aacbe26-961c-11e6-8bfd-61fff5e12f64.png)

[2016-10-19 21:13] rowmatrix commented on #176
Alright will do!

[2016-10-19 22:06] sergiokopplin commented on #176
We must have a valid link to stackoverflow, maybe some default profile

[2016-10-19 22:50] rowmatrix commented on #176
Ok link should point to http://stackoverflow.com/users/7044681/mystackoverflow in new PR

[2016-10-20 06:21] CodeMaxx opened #180 "tags.html"
Currently `tags.html` shows tags only for posts. If I add another "collection" I am unable to get tags from them currently. Is there a simple way to do that?

[2016-10-20 13:48] #176 closed, assigned to sergiokopplin

[2016-10-20 14:13] kamwysoc opened #181 "Stackoverflow icon"
@rowmatrix
You've done great work but one rectangle in stackoverflow icon is missing. I think it would be nice to fix it and provide proper logo :)

4 rectangles :
![screen shot 2016-10-20 at 16 10 58](https://cloud.githubusercontent.com/assets/9297748/19563330/d58107d4-96df-11e6-93ad-371ea68eaaf9.png)

5 rectangles :
![screen shot 2016-10-20 at 16 11 07](https://cloud.githubusercontent.com/assets

[2016-10-20 16:11] sergiokopplin commented on #181
is that right @rowmatrix ?

[2016-10-20 16:11] sergiokopplin commented on #172
@abhi18av sorry for the delay. i'll take a look this week.

[2016-10-20 16:14] sergiokopplin commented on #172
the permalinks is how the page are rendered in the urls.
i guess you don't have to use tags for that.
could I help you?

[2016-10-20 16:14] #172 closed, assigned to nobody

[2016-10-20 16:16] sergiokopplin commented on #175
can you show me the code?
take a look [here](https://github.com/sergiokopplin/sergiokopplin.github.io).
is that helping?

[2016-10-20 16:16] sergiokopplin commented on #177
can you show me your code?

[2016-10-20 16:17] sergiokopplin commented on #180
i don't think so.
can you explain your final result for that?

[2016-10-20 16:33] rowmatrix commented on #181
Nice catch! I didn't notice that icomoon provides two stackoverflow icons
I'll fix it in a new PR

[2016-10-20 16:42] sergiokopplin commented on #181
thank you @k8mil and @rowmatrix. really nice catch!

[2016-10-20 17:01] rowmatrix commented on #181
<img width="548" alt="screen shot 2016-10-20 at 9 58 12 am" src="https://cloud.githubusercontent.com/assets/12551294/19569865/297d8fe4-96ac-11e6-92d7-332b7d3b2777.png">

@k8mil @sergiokopplin  Ok should be good now

[2016-10-20 17:04] #181 closed, assigned to sergiokopplin

[2016-10-20 17:04] sergiokopplin commented on #181
thanks @rowmatrix. you are fast!!! 😄

[2016-10-20 18:18] CodeMaxx commented on #180
So see on my webpage [http://codemaxx.github.io/writeups/](http://codemaxx.github.io/writeups/) . The tags on the posts here do not appear on the tags page. Only those in Blogs and projects do. I want a similar thing for writeups. Like posts are accessed using `site.posts`, these are accessed using `site.writeups`

[2016-10-20 18:26] cyfyifanchen commented on #177
[code]

I grabbed this piece of code from the markdown cheatsheet, I don't think this Tablet support is working in Indigo.

[2016-10-20 19:02] sergiokopplin commented on #177
yeah, you're right!
we should put some table css on indigo.
can you create a PR for that?

[2016-10-20 20:06] rowmatrix opened #183 "Adding more share links"
At the moment we have Twitter and Facebook share links in `author.html`. I've been working on adding other share links such as Google+ and LinkedIn.
<img width="836" alt="google-plus-share" src="https://cloud.githubusercontent.com/assets/12551294/19575591/48e34f0a-96c4-11e6-878b-44b896743298.png">
<img width="828" alt="linkedin-share" src="https://cloud.githubusercontent.com/assets/12551294/195755

[2016-10-20 21:04] kamwysoc commented on #181
@rowmatrix cool!
Thanks!

[2016-10-20 21:30] cyfyifanchen commented on #177
I just read the cheatsheet again, looks like table is only being supported at Github-flavored Markdown. I will see what I can do.

[2016-10-21 12:24] sergiokopplin commented on #183
Yeah! That's great man! Make the PR, please :)

[2016-10-21 19:16] #183 closed, assigned to rowmatrix

[2016-10-21 19:16] sergiokopplin commented on #183
Thank you @rowmatrix

[2016-10-22 09:20] CodeMaxx commented on #180
@sergiokopplin Ping

[2016-10-24 09:12] maximilianigl commented on #175
I just had the same problem. Replace all double quotes (") in the links with single quotes ('). Then it works.

[2016-10-24 15:25] sergiokopplin commented on #177
Ok them! i'll close that for now, you can reopen later if you want

[2016-10-24 15:25] #177 closed, assigned to sergiokopplin

[2016-10-24 15:26] sergiokopplin commented on #175
@aniellodesanto can you check that solution? thank you @maximilianigl

[2016-10-24 15:27] sergiokopplin commented on #180
hey @CodeMaxx, i'll check this today to answer you, but i think you can do

[2016-10-24 23:26] #175 closed, assigned to nobody

[2016-11-04 19:52] ghost commented on #81
Had similar issues. This tidbit was what made bundle install succeed. I tried several of the solutions above and they just weren't coming together. This one made it possible.

[code]

[2016-11-07 10:26] Cyril147 commented on #124
How use <link> put google font inside the web?

[2016-12-02 14:34] pratik1105 opened #187 "All but one social links icons appear in the header"
First of all, thank you for this wonderful Minimalist Theme. I have been customizing it for a while and lately I have noticed that on reloading the "blog" page, all but one(instagram) social link icons appear.
![indigo_issue](https://cloud.githubusercontent.com/assets/9898287/20837466/2f4328ea-b8ca-11e6-81d5-1a3383f96fde.png).
In the image, there should be an instagram icon where there seems to be

[2016-12-05 22:53] sergiokopplin commented on #187
thank for the issue.

---

this is an old problem, and i still don't know why this happens. :/
do you have any idea?

[2016-12-05 22:53] sergiokopplin commented on #180
sorry @CodeMaxx for the delay.
are you still having problems?

[2016-12-05 22:54] sergiokopplin commented on #171
help wanted!

[2016-12-05 22:54] CodeMaxx commented on #180
Yes not resolved yet. @sergiokopplin

[2016-12-06 07:12] pratik1105 commented on #187
Not yet. I'll let you know if I find the cause and/or the solution.

[2016-12-11 00:42] jayrav13 opened #188 "Include a resumé section"
Hello,

I thought it would be cool to have a resumé section available in the template. Maybe two or three variables in the `_config.yml` file?

Example:

[code]

This can be included in the `navbar`. Looking forward to feedback - I should be able to submit a pull request shortly!

[2016-12-28 12:33] Cyril147 opened #192 "Delete"

[2017-01-13 23:06] Gorbyy opened #194 "HTML style"
Hey, thanks for your work on this template! Is it normal to have the section <style> on the view-source:http://koppl.in/indigo/ so big? Specially if it looks like it was commented. Forgive me if I don't know what I talking about, I'm just learning :)

`<style> ﻿/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-

[2017-01-14 15:52] #192 closed, assigned to nobody

[2017-01-20 01:28] bradstimpson opened #195 "Facebook Icon Href adding a dot '.' between First and Last Name"
Hello,
For some unknown reason, the URL for the facebook icon is being modified to include a dot '.' between the first and last name.

In _config.yml it is configured as:
`facebook: firstnamelastname`
and when I hover over the icon I see the correct URL:
`facebook.com/firstnamelastname`
but when the icon is clicked, this is the URL that is opened in the browser:
`https://www.facebook.com/firstname

[2017-01-20 05:22] bradstimpson opened #196 "jemoji not visible on the blog page but are visible on the projects page"
Hello,

I can't seem to get jemoji icons to appear on the blog page but they do appear on the projects page. For example, this ***does not*** work when using this in the markdown for a post :
[code]
however, this ***does*** work:
[code]
Thanks

[2017-01-20 15:51] bradstimpson commented on #195
To add a little more color to this issue, it only occurs in Firefox (I am using 50.1.0) on Linux Mint.  It does not occur in Google Chrome on Win10.

[2017-01-21 13:30] sergiokopplin commented on #196
thanks!

---

solved!

[2017-01-21 13:30] #196 closed, assigned to nobody

[2017-01-21 13:36] sergiokopplin commented on #195
Thanks for the issue.

---

This is not supposed to happen due to this code:

[code]

---

it don't include any dots in the url, so this seems to be a different problem, not related to the indigo project itself.

[2017-01-21 13:36] #195 closed, assigned to nobody

[2017-01-21 13:39] sergiokopplin commented on #194
Thanks for the issue.

---

Yeah, it seems big, that's true.
This idea of inline css is based on a google [project](https://developers.google.com/speed/pagespeed/insights/?hl=pt-BR).
It has the entire css page for all the pages, which is not too much (+/- 18kb).

If you have any problem, tell me.

[2017-01-21 13:39] #194 closed, assigned to nobody

[2017-01-21 13:44] sergiokopplin commented on #180
Hey @CodeMaxx, sorry for the delay.

---

Yeah, it's not easy to implement that, but it's possible.
Jekyll uses tags only for blog posts, not for other kind of documents, so it's not by default on jekyll.
You have to create by yourself the file.prop, then the page list, than the mapping system to show only writeups with some kind of props.

---

ps: i might be wrong, long time from my last jekyll

[2017-01-21 13:44] #180 closed, assigned to sergiokopplin

[2017-01-21 13:45] sergiokopplin commented on #187
thanks @pratik1105. this is not solved yet, i'm also looking for it.

[2017-01-21 13:45] #187 closed, assigned to sergiokopplin

[2017-01-21 13:46] sergiokopplin commented on #188
hey @jayrav13, thanks!

---

yeah, this seems to be a really good idea, can you implement that? thanks!

[2017-01-21 13:47] sergiokopplin commented on #171
yeah, i was looking for that and requires a lot of work. not doing :/

[2017-01-21 13:47] #171 closed, assigned to sergiokopplin

[2017-01-21 15:46] jayrav13 commented on #188
@sergiokopplin great! Sure, working on it now, will open a PR shortly.

[2017-01-21 16:22] jayrav13 commented on #188
@sergiokopplin PR #201 has been opened to address this proposed feature.

Thanks!

[2017-01-21 20:10] sergiokopplin commented on #188
Thank you!

[2017-01-21 20:10] #188 closed, assigned to jayrav13

[2017-01-22 22:37] jehartzog opened #204 "Missing title image file for indigo project page"
On your demo site, the [project page](https://koppl.in/indigo/indigo-jekyll-theme/) is missing the title image.

![image](https://cloud.githubusercontent.com/assets/14143246/22186771/1a223ea2-e0c9-11e6-82a2-035edae34a37.png)

I would like to fix it with a PR, but I built your branch and it seemed to work fine, so you probably need to just rebuild for your demo site.

![image](https://cloud.githubu

[2017-01-23 14:03] sergiokopplin commented on #204
Thanks for that! Yeah, not working, don't know why, the file is there. Maybe with a new build. Testing this later!

[2017-01-28 15:37] sergiokopplin commented on #204
[solved](https://github.com/sergiokopplin/indigo/commit/a60fd6ae337691fd861f838aee1f5d670b9995fe)

[2017-01-28 15:37] #204 closed, assigned to sergiokopplin

[2017-01-31 15:56] jamesstonehill opened #208 "`hidden: true` is not hiding a post from the blog section."
If I'm understanding the intention correctly, the selected line in the image below should hide the project post from the blog section, but it is not doing that correctly.

<img width="844" alt="screen shot 2017-01-31 at 15 53 56" src="https://cloud.githubusercontent.com/assets/19637233/22472461/9c14fa02-e7cd-11e6-92f6-cfb9dd6e81fc.png">

[2017-01-31 16:35] jamesstonehill opened #210 "CNAME File"
Just as a suggestion, might be useful to have a blank or commented out CNAME template file.

[2017-01-31 16:52] #210 closed, assigned to nobody

[2017-02-11 16:27] ghost opened #211 "Social icon links aren't ever "hidden""
This is regarding the social icons on pages (ie "blog" or "projects"). Right now, they're "invisible" (you can't see the icon), but you can still mouse over where the icons were and the link shows up.

[2017-02-22 00:36] xiaoyuliu opened #214 "How to highlight those codes in line using `CODE`?"
Hi, I noticed the code block is normally highlighted but if I use the code in line like `code here`, it's not highlighted or with any background colour.

Is there any solution?

Thanks.

[2017-02-22 00:36] xiaoyuliu commented on #214
It's correct here, but not when using indigo theme.

[2017-02-22 01:22] #214 closed, assigned to nobody

[2017-02-22 01:23] xiaoyuliu commented on #214
Solved. Set a same background color for code-tt and pre in `./_sass/base/general.sass`.

[2017-02-26 07:17] Redgadget opened #215 "Your theme is listed on jekyll-themes.com"
Your theme has been listed on [https://jekyll-themes.com/](https://jekyll-themes.com/).

[2017-02-26 07:18] #215 closed, assigned to nobody

[2017-02-26 11:58] sergiokopplin commented on #215
@Redgadget thanks!

[2017-03-19 12:41] SanketDG opened #217 "There is no feed.xml"
`feed.xml` is not present in the project, its needed for rss feeds and planets

[2017-03-28 11:45] vhbsouza commented on #217
@SanketDG  I've managed to fix it and submitted and pull request. #219

[2017-03-30 11:25] dbogdanov commented on #211
I got the same problem.

[2017-03-30 13:42] sergiokopplin commented on #211
Hey guys, sorry about the delay. Huge project going on here. I'll take o look on that later.

Thanks for reporting.

[2017-03-30 13:42] sergiokopplin commented on #217
Hey guys, sorry about the delay. Huge project going on here. I'll take o look on that later.

Thanks for reporting.

[2017-03-30 13:42] sergiokopplin commented on #208
Hey, sorry about the delay. Huge project going on here. I'll take o look on that later.

Thanks for reporting.

[2017-03-30 14:36] jamesstonehill commented on #208
Hi @sergiokopplin. I've submitted a PR that fixes this issue. https://github.com/sergiokopplin/indigo/pull/209

[2017-03-31 13:14] dbogdanov commented on #211
Update: I found that my uBlock Origin extension for firefox was blocking the icons.

[2017-03-31 15:10] sergiokopplin commented on #217
My bad! Thanks @SanketDG and @vhbsouza

[2017-03-31 15:10] sergiokopplin commented on #217
fixed #219

[2017-03-31 15:11] #217 closed, assigned to nobody

[2017-03-31 15:11] sergiokopplin commented on #211
Is that fixed then? Can you describe better?
Are you having this problem yet @9fiftyfive? Is your problem related to @dbogdanov description?

[2017-03-31 15:14] sergiokopplin commented on #208
fixed. thanks @jamesstonehill

[2017-03-31 15:14] #208 closed, assigned to nobody

[2017-03-31 23:07] ghost commented on #211
@sergiokopplin Sorry, but I no longer use the Indigo theme. The issues persisted in all browsers.

[2017-04-05 13:50] FGhavamian opened #220 "researchgate icon"
First of all, thanks for the pretty cool theme.
I would like to make a researchgate (a social media for researchers) icon. I understand that there are a list of icons in _includes/icons.html which are basically some sort of codes. I would like to, for instance convert this image: https://www.researchgate.net/apple-touch-icon-180x180.png to a sort of code that is understandable for this theme.

[2017-04-07 03:21] vhbsouza commented on #72
@sergiokopplin @KPdir  I've managed to do this in a better way. Now I can use emoji shortcodes directly in the title like this.

[code]
and shows title: ":ramen: Hello World :warning:"

If it interests you I can do a PR with this change.

[2017-04-07 14:22] sergiokopplin commented on #72
@vhbsouza please!!!! Back in the time i put the emoji, this was not possible (or i didn't find a way). Thanks man!!!!

[2017-04-07 14:49] sergiokopplin commented on #72
@vhbsouza how you did that man? hahaha i'm curious

[2017-04-07 14:51] sergiokopplin commented on #220
@FariborzGh hey man!
Yes, we can add!

You need to put it [here](https://github.com/sergiokopplin/indigo/blob/gh-pages/_includes/icons.html).
Must be a svg code. You can search for that [here](https://icomoon.io/)

[2017-04-07 15:46] FGhavamian commented on #220
Awesomeness to the whole new level, thanks!
For others who might be interested: I used [this](http://www.flaticon.com/free-icon/researchgate-logo_49051#term=researchgate&page=1&position=3) logo.

[2017-04-07 16:23] sergiokopplin commented on #220
Great! Can you make a PR? thanks

[2017-04-07 16:24] sergiokopplin commented on #211
@dbogdanov 'ghost' is not a user anymore, can you help me with that? thanks

[2017-04-10 15:53] FGhavamian commented on #220
I would. I just do not quite know how to make a pull request for only one single file. I don't want to push my entire modifications through.

[2017-04-26 01:59] sergiokopplin commented on #211
closing by inactivity

[2017-04-26 01:59] #211 closed, assigned to nobody

[2017-04-26 02:00] sergiokopplin commented on #220
@FariborzGh any news?

[2017-04-26 02:01] sergiokopplin opened #222 "Jemoji for page title"
![image](https://cloud.githubusercontent.com/assets/2743180/25414967/269ae46e-2a0b-11e7-9ae0-3c2aecdca2c3.png)

[2017-04-27 17:53] weewey opened #224 "Liquid exception"
Running this on OSX

I have not made any edits to any files and trying to run

[code]
returns me a liquid error

Liquid Exception: Liquid error (line 21): Invalid US-ASCII character "\xE2" on line 51 in /_layouts/default.html

[2017-04-27 17:55] sergiokopplin commented on #224
Can you put the '/_layouts/default.html' code here?

[2017-04-27 17:56] weewey commented on #224
[code]

[2017-04-27 17:58] weewey commented on #224
I have tried adding
```encoding : utf-8 ```
in _config.yml.

Saved default.html with utf-8 encoding.

But still having the issue

[2017-04-27 17:59] sergiokopplin commented on #224
Have you edited this file?

[2017-04-27 17:59] weewey commented on #224
nope, I have not.

[2017-04-27 18:11] sergiokopplin commented on #224
OK, i'll check this error later!

[2017-04-27 18:27] weewey commented on #224
Thanks!

[2017-04-29 18:13] mutabledevotions opened #225 "Where are the social media logos from?"
Looking to see if I can add some more social media links with logos with consistent style - ideally svgs from the same pack. Where did you find the ones used in the template?

[2017-04-29 18:18] mutabledevotions commented on #225
Actually, scratch that. I found [this](https://simpleicons.org/) which has everything I need. Thanks!

[2017-04-29 18:18] #225 closed, assigned to nobody

[2017-04-30 08:49] abuxton opened #226 "Manifest required"
Themes now require manifest for install in jekyll
$rake theme:install git=https://github.com/sergiokopplin/indigo.git
Cloning into './_theme_packages/_tmp'...
remote: Counting objects: 2019, done.
remote: Total 2019 (delta 0), reused 0 (delta 0), pack-reused 2019
Receiving objects: 100% (2019/2019), 2.85 MiB | 228.00 KiB/s, done.
Resolving deltas: 100% (1086/1086), done.
Checking connectivity... d

[2017-04-30 19:30] mehmandarov opened #228 "Twitter Card contains some errors"
Some of the Twitter tags for the blogposts contain errors. For example:

* Picture is missing when sharing on Twitter, but works fine on Facebook
* twitter:creator points to author name for the site, not the value set under twitter for that author (resulting in wrong value)

This might be something in the jekyll-seo-tag?

https://cards-dev.twitter.com/validator

[2017-05-02 12:38] sagaciouszu commented on #224
I'm having the same issue, same file and all.

[2017-05-03 14:51] #222 closed, assigned to nobody

[2017-05-08 00:07] Rychillie opened #231 "Pagination is not working"
When activating pagination and determining number of posts, the navigation area is ok, but does not show posts. I could not identify the problem, because I only did a test of aesthetics.

[2017-05-08 01:47] ravpacheco opened #232 "What is the propose of .link &:before and &:after css classes ?"
Hello Sergio,

what was your propose with **.link &:before** and **&:after** css classes (on social-links.sass)?
This classes make a little bug on mobile version. I don't know why but with this classes each social icon use a aditional space and the responsive page get a unecessary horizontal scroll.

![image](https://cloud.githubusercontent.com/assets/2591614/25787264/71201c60-3376-11e7-84a4-5b6af

[2017-05-10 03:13] sergiokopplin commented on #228
@mehmandarov yeah, maybe some error with jekyll-seo-tag. I've removed the static code that was generating this piece of data, but seems to have a problem now. Have you tested without jekyll-seo-tag?

[2017-05-10 03:14] sergiokopplin commented on #226
Thanks Man!
Do you know where i can find more documentation about it?

[2017-05-10 03:14] sergiokopplin commented on #231
I just accepted a pull request to fix this. Can you update your fork and test it again? Thanks

[2017-05-10 12:35] Rychillie commented on #231
Now it does not show anything, returning to the old code, it does not show anything, it stays the same again... I will continue testing and I will modified code, see what I can do.

[2017-05-12 13:04] mbbroberg opened #233 "Make picture a circle, not oval"
Quick question - What do I need to do to have my profile picture to be circular like [the demo](http://koppl.in/indigo/) as opposed to egg-shaped like [mine is now](https://mbbroberg.github.io/)?

Thanks!

[2017-05-12 14:26] sergiokopplin commented on #233
Your picture must be a square, like 1:1.
Can you update the picture?

[2017-05-12 15:58] mbbroberg commented on #233
Oh that makes perfect sense! Updated and it works - thank you!!

[2017-05-12 15:58] #233 closed, assigned to nobody

[2017-05-13 13:50] #220 closed, assigned to nobody

[2017-05-13 13:51] sergiokopplin commented on #224
@weewey @sagaciouszu can you guys tell me what's the your system version? Also ruby.
Thanks

[2017-05-13 13:51] sergiokopplin commented on #231
Any news on that?

[2017-05-13 13:54] sergiokopplin commented on #232
If i remember, it's used for this 'popup'.

![image](https://cloud.githubusercontent.com/assets/2743180/26026031/727a59ce-37ca-11e7-8684-bf23c19ea5ef.png)

[2017-05-13 13:54] sergiokopplin commented on #232
Have you edited the code on this? Seems to be not working in your application.

[2017-05-13 14:00] ravpacheco commented on #232
Yes @sergiokopplin , I removed this on my application and now the popup don't work. I will try to fix this without remove the popup and send to you the results. Tks :)

[2017-05-13 14:07] sergiokopplin commented on #232
OK, sounds good!
Nice work with the translated content!

[2017-05-13 14:11] ravpacheco commented on #232
Thank you. I'm trying to improve the translation process to proppose a pull request. As soon as I finish, I'll let you know.

[2017-05-13 14:11] sergiokopplin commented on #232
Valeu mesmo!! Era exatamente isso que eu ia pedir!

[2017-05-18 07:19] mehmandarov commented on #228
@sergiokopplin: I checked that now. It is a bug in jekyll-seo-tag and can be fixed by updating Gemfile.lock.

[2017-05-19 13:25] mehmandarov commented on #228
Reported to Jekyll SEO Tag: https://github.com/jekyll/jekyll-seo-tag/issues/210

[2017-05-20 22:26] ravpacheco commented on #232
@sergiokopplin I did a pull request in order to fix this issue.

https://github.com/sergiokopplin/indigo/pull/234

[2017-05-29 17:14] #232 closed, assigned to nobody

[2017-06-10 20:52] khantasha opened #235 "How to change "Projects" to "Articles""
Hi! Love your Jekyll theme! I'm a NOOB to Jekyll and I'm currently trying to change the navigation to from "Blog Projects About Resume" to say "About Articles Resume" ... can't figure out what file(s) to change this in, though? Can you help? Thanks!

[2017-06-13 17:49] sergiokopplin commented on #235
I'll that a look later! :)

[2017-06-14 14:36] khantasha commented on #235
Thanks! This noob appreciates the help!

[2017-06-24 07:18] artemsheludko opened #238 "Your theme is listed in jekyllthemes.ru"
Your theme has been listed on http://jekyllthemes.ru/

[2017-06-24 07:18] #238 closed, assigned to nobody

[2017-06-27 11:35] pasank commented on #81
This is what worked for me (Lubuntu 16.04.2).

[code]

[2017-07-01 12:45] khantasha commented on #235
Hi sergio. I was wondering if you had a chance to address or answer this issue? Would really appreciate the help! Thank you from Pennsylvania!

[2017-07-04 14:03] sergiokopplin commented on #235
Hey, i'm back. I was on vacation time.
I'll take a look this week.

[2017-07-04 14:04] sergiokopplin commented on #231
Closing by now

[2017-07-04 14:04] #231 closed, assigned to nobody

[2017-07-04 14:04] sergiokopplin commented on #226
Closing by now

[2017-07-04 14:04] #226 closed, assigned to nobody

[2017-07-04 14:04] sergiokopplin commented on #224
Closing by now

[2017-07-04 14:04] #224 closed, assigned to nobody

[2017-07-05 13:44] khantasha commented on #235
Thank you, thank you!

[2017-07-07 19:53] discentem opened #239 "_config.yaml not updating"
I'm running the site locally with `bundle exec jekyll serve --config _config.yml,_config-dev.yml --watch` but unfortunately not seeing the latest changes. For example, I still see the generic author bio.

I am able to see update svg images though.

Any ideas? Thanks in advance.

[2017-07-07 19:54] #239 closed, assigned to nobody

[2017-07-07 19:55] discentem commented on #239
this might have been a silly mistake. Closing for now.

[2017-07-07 20:41] discentem opened #240 "social-links icon size"
How do you recommend changing the icon size?

[2017-07-07 21:29] sergiokopplin commented on #239
No problem! ask if you need

[2017-07-08 03:20] KiritoBeater opened #241 "Recommend a comment system: Gitment"
[Gitment](https://github.com/imsun/gitment), used Github issues, a good idea.

[2017-07-08 12:20] johnsmith1212 opened #243 "Change display order of blog posts"
Hi @sergiokopplin ,
how can I change the display order of the blog posts? I want to have the newest one at the top of the list. At the moment the oldest one is on first place. Cheers

[2017-07-15 17:46] johnsmith1212 commented on #243
Hi @sergiokopplin,
any change to take a look at this? Thx so much!

[2017-07-15 20:40] jehartzog commented on #243
[solution](http://lmgtfy.com/?q=jekyll+post+order)

The first code snippet from the first answer is what you're looking for :D.

Edit:
For others who may have the same question, just add the `reversed `  keyword to the two for loops in `/blog/index.html`.
[code]

[2017-07-15 22:34] #243 closed, assigned to nobody

[2017-07-15 22:41] jehartzog commented on #235
Rearrange and rename the links in `/_includes/nav.html`.

If you rename `Projects` to `Articles` and update the link, you will also need to rename `/projects.html`.

[2017-07-15 22:44] #235 closed, assigned to nobody

[2017-07-17 11:36] johnsmith1212 commented on #243
@jehartzog Thank you so much! It works fine! Cheers

[2017-07-17 13:25] sergiokopplin commented on #243
thanks @jehartzog

[2017-07-17 13:25] sergiokopplin commented on #235
thanks @jehartzog

[2017-07-27 14:32] sergiokopplin commented on #240
You can try here: https://github.com/sergiokopplin/indigo/blob/gh-pages/_sass/components/social-links.sass#L9-L10

[2017-07-27 14:33] sergiokopplin commented on #241
Have you implemented that?

[2017-07-27 20:17] hessuman commented on #224
I ran into this exactly same issue today on a new system.

In the end, I found out it was caused by  UTF-8 encoded characters in default.html (among several other files), while the environment on the server was set to ASCII. Fixed it by changing the environment variables to UTF-8.

[2017-07-29 09:35] KiritoBeater commented on #241
Yep. See [Mine](https://kiritobeater.github.io/iOS系统自带调试悬浮窗/)

[2017-08-10 15:57] lichen999 commented on #72
Hi, when I tried to use the short code of emoji mentioned above in the markdown file, the picture is quite big when on my github page, any idea how to resize it? Thanks

[2017-08-11 21:40] #240 closed, assigned to nobody

[2017-08-11 21:40] sergiokopplin commented on #228
closing for now.

[2017-08-11 21:40] #228 closed, assigned to nobody

[2017-08-11 21:40] sergiokopplin commented on #241
Can you implement that via pr?

[2017-08-26 20:20] jtroussard opened #255 "Color Inversion"
This is just a feature request

Just wondering if it would be worthwhile to have a configuration option which inverts the color scheme, namely going from a white background/black text -> black background/white text. Not sure what kind of work would be involved or if it would affect the syntax highlighting but might be a good feature.

Thanks

[2017-08-26 22:38] jehartzog commented on #255
If you wanted to make a PR for this it shouldn't be very difficult. Create the `.sass` files that make up your desired color scheme, and you would be able to add a option to `_config.yml` to adjust it.

To recognize that flag you'd need to edit [`_layouts/default.html`](https://github.com/sergiokopplin/indigo/blob/gh-pages/_layouts/default.html#L23) using the liquid syntax with an [if/else](https:

[2017-08-26 23:01] jtroussard commented on #255
Thanks for the feedback and advice. I'll take a crack at it tomorrow.

[2017-09-01 18:01] scriptspry opened #256 "Create a gem based theme"
Just wondering if simply changing `_theme` config variable to `indigo` installs the theme.

This links shows how to create one:
https://jekyllrb.com/docs/themes/#creating-a-gem-based-theme

[2017-09-02 06:05] Rychillie opened #257 "What do you think of implementing Instant View and Instant Articles?"
[Instant View](instantview.telegram.org) and [Instant Articles](instantarticles.fb.com/) are ways to read pages on the web more quickly and smoothly, thus bringing a greater amount of access.

What do you think of implementing in Indigo?

[2017-09-02 14:59] jehartzog commented on #257
I didn't look into extensive detail, but what benefit would adding those provide? This template is so streamlined and lightweight that my current page is DOMContentLoaded in ~70ms with complete loading done in ~180ms. There are FPS gamers who play with more latency than that!

Plus these services both involve needing to submit content to their services, meaning a good deal of extra steps, which I'

[2017-09-30 18:17] anirudhbiyani-zz opened #259 "Migrate icons from SVG to Font Awesome Icon"
Better fonts, easily usable and quite large collection.
Font Awesome URL - http://fontawesome.io/icons/

[2017-10-05 09:33] ghost opened #260 "CSS not applied"
I have cloned this repo and followed instruction as mentioned in readme. On localhost it is working fine but when I try to check on drashti4.github.io but It is not showing me css

For testing app

`./_site/markdown-common-elements/index.html *  External link http://markitdown.net failed: got a time out (response code 0)`

[2017-10-30 15:13] CamachoDejay commented on #81
I managed to work this on macOS sierra v10.12 by:
`sudo gem install nokogiri -n /Library/Ruby/Gems/2.0.0/gems/ -- --use-system-libraries --with-xml2-include=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/libxml2`
I believe the trick is to find the path to your local libxml2

[2017-10-30 21:46] mehmandarov commented on #260
What errors do you get in the developer console of the browser? It seems to work fine for me. The `htmlproofer` error is due to the external link being not available. The test checks if all the links are accessible.

[2017-10-30 21:48] mehmandarov commented on #259
Great idea. Would you like to submit a pull request, @anirudhbiyani?

[2017-10-31 06:23] misaleh opened #261 "Change Title names of Tabs"
Hi,
How I can change the title of the tabs ? I want to remove the website name from it.
For ex here I want it to be "Blog" only

![screenshot from 2017-10-31 08-16-45](https://user-images.githubusercontent.com/17167881/32210072-4efe124e-be14-11e7-9e92-d7ea48aa5702.png)

and here, to be "Home" only

![screenshot from 2017-10-31 08-17-53](https://user-images.githubusercontent.com/17167881/32210076-5

[2017-10-31 16:17] mehmandarov commented on #261
The title comes from [Jekyll CEO Tag][1]. You can read about customisation of the title in their documentation.

[1]: https://github.com/jekyll/jekyll-seo-tag

[2017-10-31 16:17] #261 closed, assigned to nobody

[2017-11-01 11:59] sergiokopplin commented on #259
great idea @anirudhbiyani. can you help us?

[2017-11-01 14:37] anirudhbiyani-zz commented on #259
@mehmandarov  would have submitted a pull request but I tried migrating to FA but some of the CSS broke for me, that is why I submitted this enhancement request. I am kind of new to Jekyll or Frontend Dev for that matter.

@sergiokopplin  yeah! would totally love to help wherever possible.

[2017-11-01 14:56] mehmandarov commented on #259
@anirudhbiyani: Great! Try asking here. Pro tip would be attaching a patch file here, so we can reproduce the errors, and, maybe, we would be able to help you with errors. @sergiokopplin is a pro with Jekyll. 🥇

[2017-11-01 18:40] anirudhbiyani-zz commented on #259
Created PR #262

Let me know your thoughts on that.

[2017-11-14 08:57] mehmandarov commented on #260
I will be closing this issue, @drashti4, but you are welcome to reopen it when you have more info. :-)

[2017-11-14 08:57] #260 closed, assigned to nobody

[2017-11-14 13:34] pegasusearl opened #266 "some icon doesn't rendered."
excuse me, sorry if this might be a dumb report, but I really don't know why.
The twitter, facebook, and also linkedin icon doesn't get rendered.
<img src="https://cdn.pbrd.co/images/GTBXlrQ.png" />
https://pasteboard.co/GTBXlrQ.png

[2017-11-14 13:38] mehmandarov commented on #266
It seems to be working fine here: http://koppl.in/indigo/. Can you provide output from the console when you run it locally?

Can you also try cloning the repository again in a separate folder and following the instructions in the readme to run the jekyll server there to check if it works without any modifications?

[2017-11-14 15:27] pegasusearl commented on #266
it actually screenshot from http://koppl.in/indigo/ EH-
So only me, hmm. I think i have experienced something like this in other theme before,..

Turns out that the problem was in my [adblocker](https://chrome.google.com/webstore/detail/bgnkhhnnamicmpeenaelnjfhikgbkllg), turned it off and everything is fine.
Thank you for your time, :D

[2017-11-14 15:27] #266 closed, assigned to nobody

[2017-11-15 15:12] #257 closed, assigned to nobody

[2017-12-01 15:53] akhilesh-k commented on #259
Its a great idea, please do so. @sergiokopplin

[2017-12-16 07:07] chaitjo opened #271 "How to add new social link icons"
Hi there! I love this template and am in the processes of building my portfolio using it. I'm not very familiar with front-end development and was wondering how I could add a custom social link icon (for example, Google Scholar).

[2018-01-20 04:37] wkeiss opened #274 "Why I can't post?"
I added an article to my _post but it can't be shown on my [site](https://wkeiss.github.io/blog/),I did these tries:

![image](https://user-images.githubusercontent.com/26640886/35179804-804a8c44-fddc-11e7-9ce4-d843adddfda5.png)

and I also  searched the issue , I found only one ( #88 )have similar question with me,but it was helpless....

I am really confused and have no idea how to do.
here is m

[2018-01-20 05:59] mehmandarov commented on #274
That is quite likely because you haven't configured your repo to build GitHub Pages from the correct branch. Please check the GitHub [docs](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/) for more details.

[2018-01-20 06:16] wkeiss commented on #274
Thanks a lot for your reply.I will check it later!Thanks again~

[2018-01-20 06:23] louisjwilliams commented on #271
I'd be interested in this as well. I'm looking to be able to link to an imdb page.

[2018-01-20 11:10] wkeiss commented on #274
from the Github [docs](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/)

My page has already beed published from the master branch:

![image](https://user-images.githubusercontent.com/26640886/35182764-c06fb9d2-fe15-11e7-9d2e-bce0c524627f.png)

 I can't post...

[2018-01-21 21:41] mehmandarov commented on #274
How does it look when you run it locally, and not on github? I checked your repo now and it seems you were able to post now?

[2018-01-22 04:18] wkeiss commented on #274
I could post yesterday, but it couldn't post later.And also,there is issue in presenting my post.I don't know why...

![image](https://user-images.githubusercontent.com/26640886/35205089-9b18f1fe-ff6d-11e7-921b-7641c4d25cad.png)

the position of the title  should be like that:

![image](https://user-images.githubusercontent.com/26640886/35205116-c43a63f6-ff6d-11e7-91ef-27e78c87d7c3.png)

I'm going

[2018-01-22 04:54] wkeiss commented on #274
**I ran it locally,it didn't work.**

And I recieved the " page build faliure "email:

Once  I could post,I just added another post and do nothing.But it is still fail to build my page. : (
I guess it 's because I use Windows...

[2018-01-22 17:05] mehmandarov commented on #274
It seems like a general issue with Jekyll, and not specifically with this theme. I would suggest you contact the proper support channels or forums for that.Since it is not an issue with this theme, I will be closing this issue. You are welcome to reopen it if you believe it is caused by this theme. However, it seems to be working fine here. I sincerely hope you will sort this out soon. :-)

[2018-01-22 17:05] #274 closed, assigned to nobody

[2018-01-25 02:02] wkeiss commented on #274
Thanks for your suggestion. : )

[2018-01-28 17:32] psaintemarie opened #275 "Center image in blog post"
Hi !

Couldn't find a way to do this. Maybe I missed something ?
Not urgent but would be nice to have 👍

Thanks !

[2018-02-15 11:39] sergiokopplin opened #280 "Issues and PR's delay"
Hey guys!
Thanks for all questions, issues and pull requests.
I just married, moved and adopted 2 dogs, so i'm in a rush.

I'm looking to update the theme to jekyll-themes, also a new minor release, also issues and pr tasks.

Thanks! Cheers!

[2018-02-16 19:05] sleebapaul opened #282 "Please help with following Issues"
Issue 1: How to justify the paragraphs/images other than using the following workaround?

[code]
It's tedious that we need to do it for every paragraph separately.

Issue 2: How to save drafts of the posts?

I tried to change the dates to future so that it won't be posted locally, but once GitHub builds it, all the posts are visible.

[2018-02-24 00:11] davidglavas opened #284 "How to further increase the linewidth? (normal, large, veryLarge)"
Every time I mess with the `width` value in the `config.yaml` file the linewidth on my page becomes huge and fills my whole screen. How can I gradually increase the line width?

[2018-02-24 13:39] jehartzog commented on #284
The variable set there just adjusts the class assigned the the wrapper div [here](https://github.com/sergiokopplin/indigo/blob/dbf4f03ad8486c181542811ed21740671926f563/_layouts/default.html#L30).
[code]

You can then edit the sass [here](https://github.com/sergiokopplin/indigo/blob/dbf4f03ad8486c181542811ed21740671926f563/_sass/base/general.sass#L117).
[code]

[2018-02-24 13:39] #284 closed, assigned to nobody

[2018-02-26 10:15] setsonator opened #285 "How can i add more Social Media Icons?"
Hi there! at first: Great minimalistic theme! i love it.

I would like to add one more social media icon but i am not inside web programming. so i saw the file icons.html in _includes.

For example the icon-github:

[code]
 Which part i have to replace if i want a new icon to link at my home page? The given social media is Xing. Icon example page: https://fontawesome.com/icons/xing?style=brands

[2018-02-28 02:02] davidglavas opened #286 "How to customize the favicon the right way?"
There are over 15 favicon images (same image, different dimensions), what is the suggested way of replacing them with my own image?

Do you use any shortcut to replace all of them without having to manually resize your image >15 times?

[2018-03-16 15:34] vivekkrish commented on #271
Hi @chaitjo, @louisjwilliams -

In order to add a new/custom social link icon, you would need to follow the steps below (the example is based on adding a link to Google Scholar):
* Add `site: username` entry to [_config.yml](https://github.com/vivekkrish/vivekkrish.github.io/blob/03f3dfe52a9c18604c1baca8533c2192e0a63ef5/_config.yml#L40)
* Add SVG snippet to [icons.html](https://github.com/vivekkri

[2018-03-17 01:04] louisjwilliams commented on #271
Thanks. I appreciate the help.

[2018-03-19 19:08] noah978 opened #288 "Post Advance Specification not working"
I am trying to allow users to advance from one blog post to another, but not any projects. I have specified in my config.yml on the page advance item: [blog] but it doesn’t appear to be working properly. Here is my [page](/noah978/noah978.github.io/) Maybe i didn’t format it correctly.

Thanks

[2018-03-25 17:27] thilak-rao commented on #282
@sleebapaul You can add your own CSS declaration to [helpers.sass](https://github.com/sergiokopplin/indigo/blob/gh-pages/_sass/base/helpers.sass) or any other sass file in your fork.

Something like:

[code]

For drafts, just create a folder called `_drafts` in your project's root directory, and add markdown files like you would under `_posts`

[2018-03-29 09:13] jhyejun opened #289 "Can i know that how to fix url"
i want this

test.github.io/post-name (now) -> test.github.io/blog/post-name (want this)
test.github.io/project-name (now) -> test.github.io/projects/project-name (want this)

what should i do?

[2018-03-31 07:54] mohakshah commented on #285
You could take a look at [this commit](https://github.com/mohakshah/indigo/commit/817dc26232e49addda6d0ab1804ef9f23c8804ca) in which I added a custom social media icon for keybase.io.

[2018-04-01 20:20] davidglavas opened #290 "Highlighting blog titles"
Why are some blog titles highlighted (in green) and some not? How to enable/disable this?

![image](https://user-images.githubusercontent.com/18364494/38177073-c444477c-35fa-11e8-8691-dd0a27663422.png)

[2018-04-01 20:31] mehmandarov commented on #290
That is due to the "star: true" in the front matter of the post. You can change it to false for the highlighting to disappear.

[2018-04-01 20:31] #290 closed, assigned to nobody

[2018-04-01 20:47] mehmandarov commented on #288
I took a look at it now and it seem to be working fine for blog posts on your page now. In case you want to see the post-advance links also for projects you can do it like this: `post-advance-links: [blog, project]` in the _config.yml file. Closing this issue for now. Feel free to reopen if you encounter a bug in this functionality. Cheers!

[2018-04-01 20:47] #288 closed, assigned to nobody

[2018-04-01 20:48] mehmandarov commented on #285
Thanks for your answer, @mohakshah! Closing this issue.

[2018-04-01 20:48] #285 closed, assigned to nobody

[2018-04-01 21:38] davidglavas opened #291 "Spacing of nested lists in blogposts"
I tried using nested lists in a blogpost and they look fine in GitHub's preview (when opening the .md file) but look different on the website.

Is there a way to make the website's blogpost reflect the spacing in GitHub's preview?

GitHub's markdown preview:
![Github Markdown Preview](https://user-images.githubusercontent.com/18364494/38177634-bb1af150-3604-11e8-9b06-1957ae332b0b.png)

Blogpost:
!

[2018-04-01 23:31] mehmandarov commented on #275
As far sa I know there is no way of doing that other than fixing that yourself, unfortunately. You can do something linke this: https://github.com/sergiokopplin/indigo/issues/282.

[2018-04-01 23:31] #275 closed, assigned to nobody

[2018-04-01 23:35] mehmandarov commented on #282
Thanks for suggesting a solution, @xthilakx. 👍
On a (somehow) unrelated matter, @sleebapaul: [justify is bad for readability](https://designforhackers.com/blog/justify-text-html-css/). :-)

[2018-04-01 23:35] #282 closed, assigned to nobody

[2018-04-01 23:39] mehmandarov commented on #271
Thanks for your reply, @vivekkrish!
@chaitjo && @louisjwilliams: Another example of the current way of doing it can be found here: https://github.com/sergiokopplin/indigo/issues/285.

[2018-04-01 23:39] #271 closed, assigned to mehmandarov

[2018-04-01 23:48] mehmandarov commented on #291
Unfortunately this is not possible at the moment, but you can always add your own CSS declaration to [helpers.sass](https://github.com/sergiokopplin/indigo/blob/gh-pages/_sass/base/helpers.sass) or any other sass file in your fork, as described here: https://github.com/sergiokopplin/indigo/issues/282.

[2018-04-01 23:48] #291 closed, assigned to nobody

[2018-04-01 23:54] mehmandarov commented on #286
You should be able to generate those with a favicon generator. Just search for one in your favourite search engine. 👍

[2018-04-01 23:54] #286 closed, assigned to nobody

[2018-04-02 06:34] sleebapaul commented on #282
It seems not working @xthilakx. I'm adding
```{: style="text-align: justify;"}``` to each paragraph for the justification.

@mehmandarov Point noted 😀

[2018-04-02 17:21] jehartzog opened #292 "Next and previous post links don't work for hidden posts"
Since we use the [`page.previous`](https://github.com/sergiokopplin/indigo/blob/gh-pages/_layouts/post.html#L28) [variable](https://jekyllrb.com/docs/variables/), we have to special case and hide the links when they would link to a hidden post.

Ideally we would keep going in each direction until we find a post that is not hidden and link to that one, but is a more complicated fix than what we did

[2018-04-05 14:13] sergiokopplin commented on #241
Closing for now by inactivity.

[2018-04-05 14:13] #241 closed, assigned to nobody

[2018-04-05 14:13] sergiokopplin commented on #255
Closing for now by inactivity.

[2018-04-05 14:13] #255 closed, assigned to nobody

[2018-04-05 14:14] sergiokopplin commented on #259
Hey guys, i'll check it later, it seems great!

[2018-04-05 14:14] #280 closed, assigned to sergiokopplin

[2018-04-07 14:48] jamesstonehill opened #293 "Default Branch not Master"
Why is the default branch for this repo not master?

[2018-04-09 13:52] sergiokopplin commented on #293
Github pages has some feature for developer.

A have a main branch on my account and it points to my master.
My website is https://koppl.in and it points to github.com/sergiokopplin/sergiokopplin MASTER BRANCH
Any other repo must have the gh-pages branch to have as subdomain.

For example:
https://koppl.in/example can be github.com/sergiokopplin/example with gh-pages branch.

It will not work if y

[2018-04-09 13:52] #293 closed, assigned to nobody

[2018-04-14 21:56] spike1292 commented on #289
To adjust the url's you have to edit the permalink here: https://github.com/sergiokopplin/indigo/blob/gh-pages/_config.yml#L22 to something like `/:categories/:title`.
Now you can use categories to identify different kind of posts. You can add category 'blog' or 'projects'
in the front-matter section of you post, see https://jekyllrb.com/docs/frontmatter/#predefined-variables-for-posts

[2018-04-18 05:36] jhyejun commented on #289
Thank you for your help.

[2018-04-18 06:56] jhyejun opened #296 "How to modified page title in <head>"
i want to this

before
[code]

after
[code]

Maybe indigo using jekyll-seo-tag, how can fix it?

[2018-05-02 20:18] Topaz1618 opened #299 "Pagination cannot be used"
This is My configuration
- config.yml
[code]
- blog/index.html
[code]

[2018-05-13 19:34] amirmasoudabdol opened #303 "How to update my theme to the current version?"
I'm using `indigo` as a theme for my website. I see that there have been several updates from the time that I've forked the template. I'm wondering what's the best way to update my theme while keeping my contents and tweaks? I've tried to `rebase` but I'm not sure if that's the best option. Is there any suggestion or known method in this situation?

[2018-05-13 20:51] mehmandarov commented on #303
Hi, @amirmasoudabdol! You can for example make a local fork of Indigo theme and set your site with an upstream repo of that fork: So you have: `[your repo] --upsteam--> [local fork of Indigo] --upsteam--> [official Indigo]`. Then you can pull changes all the way down to your repo. In my opinion it is one of the more clean ways of doing this.

Here is how you can keep your local fork up to date: ht

[2018-05-13 20:51] #303 closed, assigned to nobody

[2018-05-13 21:02] mehmandarov opened #304 "Builds failing"
All the builds on GitHub are failing with this message. We should fix that:

[code]

[2018-05-26 12:15] drmenguin commented on #304
Change `rvm` in `travis.yml` to `2.2.5`.

[2018-06-01 22:02] mehmandarov commented on #304
Can you submit a PR, @drmenguin?

[2018-06-01 22:09] drmenguin opened #306 "Change to 2.2.5 to fix build error"
https://github.com/sergiokopplin/indigo/blob/48675d87a6bd9e949fc892f2cbee00e8a709cefe/.travis.yml#L3

Changing this 2.2.5 _should_ fix the build error (it worked for my fork).

[2018-06-01 22:11] drmenguin commented on #304
@mehmandarov I'm not sure how to submit pull requests on github. I opened another issue pointing attention to where the change should be made.

[2018-06-01 23:30] mehmandarov commented on #304
I have verified your fix. It works. Thank you very much. I will update the code.

[2018-06-01 23:30] mehmandarov commented on #304
Thanks, @drmenguin!

[2018-06-01 23:35] mehmandarov commented on #306
Thanks, @drmenguin! I have done the changes and sent a PR: https://github.com/sergiokopplin/indigo/pull/307.

[2018-06-01 23:35] #306 closed, assigned to nobody

[2018-06-01 23:36] mehmandarov commented on #306
Thanks, @drmenguin! I have made the changes and sent a PR: #307.

[2018-06-01 23:37] mehmandarov commented on #304
I have implemented the changes and sent a PR: #307.

[2018-06-01 23:37] #304 closed, assigned to sergiokopplin

[2018-06-08 05:50] johnwmillr commented on #261
Has anybody come up with a solution for changing the tab titles? Judging from @misaleh's [site](https://mostafasaleh.com/) and the [example site](http://manifest.life) given by [@manifestlife](https://github.com/manifestlifeinc) in Issue #140, neither of them were able to change the tab titles.

I read the SEO tag documentation you linked, @mehmandarov but haven't been able to figure out a solutio

[2018-06-08 22:58] johnwmillr commented on #296
This is not an ideal fix, but I was able to change the tab title by adding
[code]
above the `{% seo %}` line in the `_layouts/default.html` file.

See [this commit](https://github.com/johnwmillr/johnwmillr.github.io/commit/50d425e9eb7dce99287611408963a7f4c0a4166d) for the code and [my website](http://www.johnwmillr.com/) for an example.

This fix is relevant to Issues #140 and #261 as well.

[2018-06-22 15:59] florianjosefreheis opened #310 "Adding custom javascript to blog posts"
I tried to add Chart.js to a blog post but Chart.min.js get not followed:

`<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>`

Any ideas?

[2018-06-24 11:39] florianjosefreheis commented on #310
Does anyone know how do add Chart.js to this template?

[2018-07-02 01:34] jhyejun commented on #296
Thank you for help

[2018-07-02 01:34] #296 closed, assigned to nobody

[2018-07-02 01:35] #289 closed, assigned to nobody

[2018-07-20 10:47] #310 closed, assigned to nobody

[2018-07-20 13:18] sergiokopplin commented on #310
Hey @florianjosefreheis , sorry for the delay. Do you still need help?

[2018-07-20 16:17] florianjosefreheis commented on #310
Hi @sergiokopplin, yeah, it would be great to see how I can add custom javascript to a blog post.

[2018-07-25 19:49] jdzmfg opened #313 "Indigo theme by Kopplin"
how can I get rid of this, I want to support the dev and I'm not trying to take credit for his code but it looks ugly on my website

[2018-07-25 23:12] jehartzog commented on #313
You can easily find stuff like this on your own for the future, just type 'indigo theme' into the search bar at in github and it will show you the two places that shows up. Takes less than 10 seconds! 🥇

I went ahead and [found it](https://github.com/sergiokopplin/indigo/blob/gh-pages/_includes/footer.html#L5) for you, edit that and you'll be good.

[2018-07-26 02:22] #313 closed, assigned to nobody

[2018-07-30 04:11] TheCedarPrince opened #314 "Can I Help with Translating This To GitLab?"
Hey team,

I was wondering if I could help with translating the Indigo theme to GitLab. I love the Jekyll theme and would like to move my personal fork over there.

I found [this]((https://gitlab.com/axil/sergiokopplin-indigo)) but was unable to get it to work in GitLab - moreover, the last build the user tried failed.

Can I help with anything and get this working? I would be happy to test and tr

[2018-07-30 06:39] antenore commented on #314
@TheCedarPrince I use indigo on gitlab without any problems on gitlab, I have just followed the gitlab pages tutorial

[2018-07-30 06:49] TheCedarPrince commented on #314
Strange - @antenore, could you post your gitlab-ci.yml file? I am not sure where I am going wrong.

I can try again and see what happens. How did you bring Indigo over to GitLab? Did you change anything?

[2018-07-30 10:20] antenore commented on #314
@TheCedarPrince my config is quite complex but basically I've used this sample https://gitlab.com/pages/jekyll/blob/master/.gitlab-ci.yml and worked around it

First be sure that the theme works nicely locally, than adapt the url in the config file.

[2018-08-05 07:57] luispuerto opened #315 "New window fix & Open embed"
Hi!

First of all, thanks for your theme. It's really great.

I'm having problems implementing this two solutions, which seem simple and I've been able to implement in other themes really easy:

* [New window fix](https://jekyllcodex.org/without-plugin/new-window-fix/)
* [Open embed](https://jekyllcodex.org/without-plugin/open-embed/)

I've been able to implement [bigfoot](http://www.bigfootjs.com

[2018-08-06 06:11] xuhaibahmad opened #316 "Recent gem updates break code/pre blocks in the theme"
I've been using this theme for quite some time now. However, after recent gem updates (cannot pinpoint which one exactly, should be kramdown or jekyll itself) I noticed code blocks appear to stretch right to the bottom of the page.

Same can be seen on [your demo](https://koppl.in/indigo/markdown-common-elements/), notice how the first `pre` element never ends. It is more prominent when you have d

[2018-08-07 15:21] busterswt commented on #316
This is also an issue for me. Local generation appears to work as expected.

[2018-08-07 15:23] xuhaibahmad commented on #316
@busterswt Local will break too when you update the gems.

[2018-08-07 18:59] busterswt commented on #316
@xuhaibahmad You're right, it did break. Since merging the upstream gh-pages branch into my fork and tweaking a few busted things, this problem as gone away locally and on GitHub pages. I forked over 1.5 yrs ago and never kept up.

[2018-08-14 09:48] xuhaibahmad commented on #316
Turns out the issue is with Kramdown as suspected. Although there's no response on the [issue on kramdown repo](https://github.com/gettalong/kramdown/issues/536), I'm closing it here since it's irrelevant now.

[2018-08-15 14:46] xuhaibahmad commented on #316
The Kramdown author doesn't acknowledge the problem and original issue got closed. Opening once again since I don't know where and what to look for. Hopefully, someone else will recognize this and help.

[2018-08-18 00:33] xuhaibahmad commented on #316
.Updating to the latest versions of github-page (191) and kramdown (1.17.0) gems seems to have fixed the issue both locally and on gh-pages.

[2018-08-18 00:33] #316 closed, assigned to nobody

[2018-08-24 16:00] FernandoFH opened #317 "How to make the blog multi language?"
Hello everyone,
This is less than a issues, it is more a request for help. I want to make the page have 2 languages ​​(Spanish / English) could you indicate how to do it (Some tutorial or something that gives me an idea), I'm new but I want to learn.
Sorry if the query is very rookie. regards

[2018-09-02 19:45] johnwmillr commented on #228
@mehmandarov, did you ever come up with a way to get this working? I've never been able to get Twitter to show the correct picture when I post a link to one of my blog posts. As you said, Facebook correctly identifies the post's image tag. I got Twitter to recognize a single site-wide image that is common to all of my posts, but of course I'd prefer if Twitter showed the image I've set as unique t

[2018-09-02 19:49] mehmandarov commented on #228
@johnwmillr Nope. Still living with this bug. Please let me know if you will find a solution to that problem.

[2018-09-02 20:09] johnwmillr commented on #228
Okay, I'll see if I come up with something, but I'm not too hopeful...

[2018-09-19 10:37] mehmandarov opened #319 "Need to upgrade Ruby Sass"
This is the message I get when running `bundle update`. This means we should start looking into upgrading `Ruby Sass` package:

[code]

[2018-09-23 09:59] drmenguin opened #320 "Update this to 2.3 to fix Travis build status"
https://github.com/sergiokopplin/indigo/blob/5f2608ffc8bac9f30222c141e0299e13faed1f9d/.travis.yml#L3

[2018-10-25 06:00] johnwmillr commented on #228
@mehmandarov, I may have solved this issue!

See my [latest commit](https://github.com/johnwmillr/johnwmillr.github.io/commit/536a024fe3e95b4b661a91f1b22e268c82760b40) for the changes that finally resolved the issue.

Key changes:
  - Change `post` to `page` within the `_includes/social-cards.html` file
  - Move the `{% include social-cards.html %}` line from `_layouts/post.html` to `_layouts/page

[2018-11-02 04:30] 0katz opened #324 "Redirect blog button to another domain"
I would like to use this theme as just a landing page and redirect the blog bottom to another url. Where are these changes made?

Thanks in advance.

[2018-11-03 22:08] #324 closed, assigned to nobody

[2018-11-09 10:08] kkarayannis opened #326 "Social links are missing on mobile Safari"
![untitled](https://user-images.githubusercontent.com/181362/48256429-d42a8980-e40f-11e8-9ae6-0d46c89687f3.png)

[2018-11-13 09:13] sylvainmetayer opened #327 "Travis.sh is generated inside _site"
Is it possible to exclude some files when building _site ?

Steps to reproduce :

- `bundle exec jekyll serve --config _config.yml,_config-dev.yml`
- Go to `http://localhost:4000/travis.sh`

Output :
File is downloaded.

Expected : 404, because this file shouldn't be generated in `_site`

[2018-11-13 09:24] mehmandarov commented on #327
Hi, @sylvainmetayer! Thanks for a detailed report. Yes, you can do this in _config.yml: https://jekyllrb.com/docs/configuration/options/. Would you like to fix this issue and submit a pull request?

Rustam

[2018-11-13 09:25] sylvainmetayer commented on #327
Thanks for the link ! I'll look into it and submit a PR

[2018-11-13 09:33] sylvainmetayer commented on #327
Sorry, bad commit reference. PR #328 is submitted :smiley:

[2018-11-14 20:22] sylvainmetayer opened #330 "Alt element defined twice"
https://github.com/sergiokopplin/indigo/blob/5f2608ffc8bac9f30222c141e0299e13faed1f9d/_includes/author.html#L3

There is two alt elements, which cause html-proofer to fail. (`ERROR: Attribute alt redefined`)

I don't know which one to remove, but I believe the `author selfie` is kind of useless if there is already the author name ?

[2018-11-19 20:36] sylvainmetayer opened #334 "Question : CSS inside HTML"
I'm asking myself why the CSS generated is not included inside a stylesheet. Is their a reason to do so, or should we move it to its own stylesheet ?

[2018-11-29 13:44] sylvainmetayer commented on #259
Hi, is their any update on this ?

I've been working on a plugin to integrate Font Awesome, which I will be converting to a Gem when it will be finished but I'm stuck, my icon are properly generated but not displayed.

You can see details of my [StackOverflow question](https://stackoverflow.com/questions/53540337/svg-not-displayed) and my [Work in progress here](https://github.com/sylvainmetayer/s

[2018-12-14 10:09] maoruibin opened #339 "How should I change the blog text color?"
Hi，I have a try to change blog text color and i find i can do it by edit
[code]
but after edit, it's not ok, I'm not familiar with SCSS.

so ,what should i do, thanks...

[2018-12-14 11:29] maoruibin commented on #339
it's worked

[2018-12-14 11:29] #339 closed, assigned to nobody

[2019-01-11 18:24] mhaeussermann commented on #317
Hey there,

I followed the approach by @ravpacheco to make my page multilingual. It basically involves a modification of the nav bar to add a language selector and the use of ref and lang tags. It's similar to the approach described in [this tutorial](https://www.sylvaindurand.org/making-jekyll-multilingual/), at least in principle. I don't have a tutorial for my/Rafael's approach at the moment, b

[2019-01-28 15:55] #327 closed, assigned to mehmandarov

[2019-01-28 15:59] #330 closed, assigned to nobody

[2019-01-28 16:16] mehmandarov commented on #314
Seems like this is a platform specific question, and not connected to this theme. Closing issue.

[2019-01-28 16:16] #314 closed, assigned to nobody

[2019-01-28 16:35] mehmandarov commented on #317
Thanks for the reply, @FernandoFH! Closing this issue! 👍

[2019-01-28 16:35] #317 closed, assigned to nobody

[2019-01-29 17:14] sergiokopplin commented on #256
I was looking and it seems a little bit complicated, can you a pr @scriptspry? closing for now

[2019-01-29 17:14] #256 closed, assigned to nobody

[2019-01-29 17:14] sergiokopplin commented on #259
there's a pr doing that, closing here for now

[2019-01-29 17:14] #259 closed, assigned to nobody

[2019-01-29 17:15] sergiokopplin commented on #299
@Topaz1618 can you send us more details about it? is there any error message?

[2019-01-29 17:16] sergiokopplin commented on #315
hey @luispuerto, do you still have this problem? We can help, let us know

[2019-01-29 17:17] sergiokopplin commented on #292
Do you need help on this @jehartzog? Still a problem?

[2019-01-29 17:17] sergiokopplin commented on #320
Not valid, there's no enough details. closing for now

Can you open a pr for this fix?

[2019-01-29 17:17] #320 closed, assigned to nobody

[2019-01-29 17:18] sergiokopplin commented on #326
can you open a pr on this @kkarayannis?

[2019-01-29 17:19] sergiokopplin commented on #319
I didn't get this message, do you still think this is a problem @mehmandarov?

[2019-01-29 17:20] sergiokopplin commented on #334
Hey @sylvainmetayer, performance purposes only. One of the google advices is the css inline

[2019-01-29 20:34] sylvainmetayer commented on #334
I disagree with you.

Google only recommend inline css when their is not much style (https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery#recommendations).
When indexing *content*, google (or others search engine) don't really care about what your page look like, they care about content. So they probably (I'm not sure about this) won't load stylesheet and just HTML. If you put you

[2019-01-29 21:05] sergiokopplin commented on #334
I see.

![image](https://user-images.githubusercontent.com/2743180/51940215-8747c500-23f8-11e9-8692-46f26abce856.png)

Our score, today, mobile or desktop is 100%.
We can take a look if an update like this changes this result.
Indigo is from, like, 3/2 years ago. In that time it was a metric. So, i only could get 100% doing css inline.

In my opinion, this project has few styles and it is accordin

[2019-01-30 08:05] mehmandarov commented on #326
This seems to happen if you have a ad-block in Safari. Not able to reproduce on a latest Safari on iOS.

[2019-01-30 08:13] mehmandarov commented on #326
@kkarayannis: This seems to happen if you have a specific 3rd party ad-block plugin installed in Safari. Not able to reproduce on a latest vanilla Safari on iOS. Please provide info on how to reproduce this issue during this week. I will close this issue if we don't hear from you by Feb 3rd. Cheers!

[2019-01-30 09:19] sylvainmetayer commented on #334
I agree that their is not much style for this project and if it allow to get 100/100, let's keep it this way !

[2019-01-30 09:19] #334 closed, assigned to sergiokopplin

[2019-01-30 09:20] sylvainmetayer commented on #319
I still get this message when installing dependencies.

[2019-01-30 12:55] mehmandarov commented on #319
@sergiokopplin ☝️

[2019-01-30 14:28] sergiokopplin commented on #334
Nice, but thanks for the question! It's Always important

[2019-01-30 15:56] kkarayannis commented on #326
Confirmed working using the latest mobile Safari with content blockers disabled. I’d swear I did check without content blockers when I opened the issue. Thanks anyway 👍

[2019-01-30 15:56] #326 closed, assigned to sergiokopplin

[2019-01-31 09:16] luispuerto commented on #315
sorry I no longer has this problem. The problem was the compression.

[2019-01-31 09:16] #315 closed, assigned to sergiokopplin

[2019-01-31 12:51] mehmandarov opened #347 "No navigation links were shown unless posts had explicitly been set to not hidden"
After PR https://github.com/sergiokopplin/indigo/pull/278 no navigation links were shown unless posts had explicitly been specified as not hidden (`hidden: false`). PR https://github.com/sergiokopplin/indigo/pull/346 is meant to fix this issue by setting all posts to `hidden: false` by default. The setting can be overwritten in the front matter of a specific post that you might want to set to `hid

[2019-01-31 12:55] mehmandarov commented on #319
Can you submit a PR, @sylvainmetayer?

[2019-01-31 12:59] mehmandarov commented on #292
Your PR is now merged. Closing this issue.
Also, see PR https://github.com/sergiokopplin/indigo/pull/346 that fixes another issue with that.

[2019-01-31 12:59] #292 closed, assigned to sergiokopplin, jehartzog

[2019-01-31 14:44] mehmandarov opened #348 "Building site fails with `does not have a valid date in the YAML front matter` error"
Building site fails with `does not have a valid date in the YAML front matter` error.

[code]

[2019-01-31 17:39] mehmandarov commented on #299
According to your page it seems like you got it working. Closing this issue. Feel free to reopen if it is not the case. Cheers!

[2019-01-31 17:39] #299 closed, assigned to sergiokopplin

[2019-01-31 17:41] mehmandarov commented on #326
That's all good, @kkarayannis. No worries. Happens to the best of us! It could also have been something that got fixed in a library we use or in Safari. Cheers!

[2019-01-31 18:33] mehmandarov opened #350 "All links are shown with the site's image, instead of the image specified in the `image` field in the post's front matter"
Unfortunately, I think we need to revert PR https://github.com/sergiokopplin/indigo/pull/341. The result of this change is that all links will be shown with the site's image, instead of the image specified in the `image` field in the post's front matter. This is unfortunate, as the latter will always be ignored.

[2019-01-31 18:47] sylvainmetayer commented on #319
I don't have much time to look into it this week, but I'll try to make some progress on it next week

[2019-02-01 10:27] OscarGorog opened #351 "How do I make my own project?"
How do I make my own project. I have all the files installed but cannot seem how to configure my own project except for the default one.

Thanks

[2019-02-01 10:52] sylvainmetayer commented on #351
Did you read [the setup](https://github.com/sergiokopplin/indigo#setup) explanation ? Or is their something that went wrong while following it ? It seems that you have already forked the repository, you just have to customize it on your own fork now to make it your.

[2019-02-01 10:53] OscarGorog commented on #351
Yes but how do I set up my own project there is no explanation?

Thanks,
Oscar
On 1 Feb 2019, 9:52 PM +1100, Sylvain METAYER <notifications@github.com>, wrote:

[2019-02-01 11:02] sylvainmetayer commented on #351
On your fork, edit the file _config.yml to edit the title and bio of your site. Then, add files in the post folder to create some post.

[2019-02-01 11:07] mehmandarov commented on #351
Most of the things you need to modify is in _config.yaml file at the root of this project.

The rest is generic info on how to run Jekyll projects:

* General info on configuring Jekyll: https://jekyllrb.com/docs/configuration/
* Info on running Jekyll on GitHub Pages: https://jekyllrb.com/docs/github-pages/

Closing this issue since it is generic question on Jekyll. :)

[2019-02-01 11:07] #351 closed, assigned to nobody

[2019-02-01 21:51] OscarGorog commented on #351
thanks @sylvainmetayer the posts folder is what I needed.

Thanks

[2019-02-01 22:32] OscarGorog opened #353 "How do I edit my about page?"
How do I edit my about page?

Thanks

[2019-02-03 17:00] mehmandarov commented on #353
Have a look at `about.md` in the project root. 👍

[2019-02-03 17:00] #353 closed, assigned to nobody

[2019-02-03 17:04] mehmandarov opened #354 "Printed posts have too big font"
Printed posts have too big font. To reproduce the issue:

1. Open a blog post
2. Click print in your browser
3. Examine the print preview.

[2019-02-03 17:50] #354 closed, assigned to nobody

[2019-02-03 17:51] mehmandarov commented on #354
Never mind.

[2019-02-19 14:55] skhaz opened #355 "Social icons are not being rendered on the new Chrome versions"
Hi,

I noticed that all social icons are not being rendered on the Chrome (in Firefox are okay). Any clues?

<img width="766" alt="screen shot 2019-02-19 at 11 53 23" src="https://user-images.githubusercontent.com/46259/53023987-fbe0b300-343c-11e9-8de8-b076d054243e.png">

[2019-02-19 15:02] mehmandarov commented on #355
Can you check your ad-blocker? Some of them are too aggressive and block those images as well.

[2019-02-19 15:14] skhaz commented on #355
Thanks @mehmandarov, was the ad-blocker

[2019-02-19 15:14] #355 closed, assigned to nobody

[2019-03-02 04:45] Twister915 opened #358 "GitHub pages breaks github social link"
The value of `{{ site.github }}` evaluates to an object (presumably provided, automatically, by Github pages) and causes the GitHub social link to always lead to `http://github.com/{`

The object we got looks like [this](https://gist.github.com/Twister915/afaabca8b855709e8b2480218937d893)

This could perhaps be fixed by changing the name of the key `github` to `github_link`?

[2019-03-12 09:51] sylvainmetayer commented on #319
Hi @mehmandarov @sergiokopplin ,

I didn't get time to look into this and sadly, won't have much time before 26th march.

Does any of you found a solution ?

From what I've seen, we need to switch to [sassc](https://rubygems.org/gems/sassc) which seems to be the one elected to replace this library.

Hopefully, their won't be any side effect.

[2019-03-12 10:10] antenore commented on #319
My understanding is that the theme has nothing to change.
This is a Ruby deprecation of Sass which is transitioning to LibSass or Dart Sass.
Jekyll has a roadmap to swap out SAAS with their major version.

I'd not worry about this.

cc: @sylvainmetayer @sergiokopplin

[2019-03-17 08:45] c-ameron commented on #324
Was this possible in the end? I'd like to do the same

[2019-03-21 01:23] iamrajiv opened #360 "how to setup Disqus in my blog and post"
I hade searched about how to set up Disqus is my blog and post and I found that we have to go to `_layouts` and inside it, we have to edit `post.html` but what I have to add and where I have to add.

[2019-03-25 20:57] danilogila commented on #350
Any news about this?

[2019-03-26 16:09] ln0rd opened #361 "Problem with build"
every time when i try run
`bundle exec jekyll build`

i recive this error:

            Source: /Users/leobufalo/sites/projects/indigo
       Destination: /Users/leobufalo/sites/projects/indigo/_site
 Incremental build: disabled. Enable with --incremental
      Generating...
       Jekyll Feed: Generating feed for posts
  Liquid Exception: Liquid error (line 27): Invalid US-ASCII character "\xE2"

[2019-03-26 17:12] ln0rd commented on #361
So, when i was searching for a way to resolve this problem i finded one, you can create two enviroment variables to fix this problem, just execute in your bash

`export LC_ALL="en_US.UTF-8"`
`export LANG="en_US.UTF-8"`

this resolved my problem! i expect this solution resolve this type problem.

[2019-03-26 17:13] #361 closed, assigned to nobody

[2019-03-27 13:23] ln0rd opened #364 "Posts was deleted after build"
after i to create a post and done build my post is deleted.

[2019-03-27 14:29] mehmandarov commented on #358
Do you have the "github" key set to anything in your _config.yml file? It should be `github: yourgithubusername`.

[2019-03-27 14:31] mehmandarov commented on #350
Thanks for pinging! Waiting for @sergiokopplin to approve this PR. I don't want to push code without peer-review. I have been running it on my site for quite some time without any issues.

[2019-03-27 17:00] mhaeussermann commented on #364
Hi LeonardoLB,
if you mean the post "2019-04-27-Aprendizado-e-frustracao.md" in your _posts folder: the most likely reason for your issue is that the post's publication date is **April** 27, 2019. Just change the date to March and the post should appear.  Hope this helps!

[2019-03-28 13:56] ln0rd commented on #364
i'm thankful for your help, i found what i was wrong, inside the file _config.yml need set to property `future: true` to accept new posts. and i put the wrong month haha thank you

[2019-03-28 20:00] mehmandarov commented on #364
Great you got this figured out. Closing the issue. 👍

[2019-03-28 20:00] #364 closed, assigned to nobody

[2019-03-28 20:01] mehmandarov commented on #358
Closing this issue for now. Feel free to reopen if you believe this is a bug.

[2019-03-28 20:01] #358 closed, assigned to nobody

[2019-03-28 20:04] mehmandarov commented on #360
Hi, @iamrajiv! Have you tried setting up the `disqus` section in `_config.yaml`. Remember to set up the `categories` field there, e.g. blog, project, etc.

[2019-03-28 20:17] mehmandarov commented on #360
Feel free to reopen this issue if this does not help.

[2019-03-28 20:17] #360 closed, assigned to nobody

[2019-03-28 23:36] iamrajiv commented on #360
@mehmandarov thank you, sir, for guidance
in my `_config.yaml` and in `categories` blog, project are already added

![1](https://user-images.githubusercontent.com/42106787/55199492-32e67900-51e0-11e9-9a8a-6c047d194970.PNG)

But still it is not loading

![2](https://user-images.githubusercontent.com/42106787/55199544-5c070980-51e0-11e9-8281-d3dea25c6e49.PNG)

[2019-03-28 23:39] iamrajiv commented on #360
@mehmandarov do I have to add any link or text in `blog` of `index.html` or any other file

[2019-04-15 20:54] weathon opened #373 "What is the license?"
MIT or BSD or something else?

[2019-04-15 21:44] antenore commented on #373
https://github.com/sergiokopplin/indigo/blob/7038c67d90597a16ea74ccd5b9f56827895ac986/README.md#L66

;-)

[2019-04-15 23:03] weathon commented on #373
I think it should have a file named **license** that github can know it.

[2019-04-23 03:28] igibek opened #374 "Social links icons are not visible"
The social networks icons are not visible in the browser. I can see them using view source code. However, they are not visible on the main page.

[2019-04-24 02:25] igibek commented on #374
Even on the demo page, the social links are not visible on Chrome. You can see HTML code for social links using developers tool, but they are not visible.
On safari, social links are displayed properly.

[2019-04-26 16:18] Rush-er opened #375 "Black theme"
im new to this.. there is a fast way to get the site black themed like this ?
![Image](https://i.imgur.com/I1lE62b.png)

I looked at [this](https://aqeel.cc/2018/09/25/dark-reader-theme-on-your-website/) but the layout is not correct

[2019-05-04 05:41] xuhaibahmad opened #376 "Separate feed for blog posts"
I recently started using the `feed.xml` for exporting my blog posts to Medium and Dev.to. However, because of the 10 entry limit for jekyll-feed, I can only import the most recent posts.

Normally this should be okay, but because in this template we have both Project and Blog posts, the feed includes both types of entries.

I was thinking if it is possible to separate the two feeds. I believe jeky

[2019-05-04 06:42] xuhaibahmad commented on #376
Closing because I found an easier way that does not require any modifications to the code.

For future reference, here's how to do it using feed categories:

- Add a feed category to your `_config.yml` file:
[code]
- Mark your blog posts with Blog category in the frontmatter:
[code]

Now you will have a separate feed for Blog items in site/feed/blog.xml

[2019-05-04 06:42] #376 closed, assigned to nobody

[2019-06-03 16:16] mwt commented on #375
Editing the colors in /_sass/base/variables.sass should get you most of the way there.

[2019-06-04 10:16] awalvie opened #379 "How do you make posts"
Hi,

Sorry for the super beginner question, I have set-up the blog and wanted to know what the method was to make blog posts.

[2019-06-05 02:12] awalvie commented on #379
Read through the walkthroug on Jekyll, and that solved the issue for me.

[2019-06-05 02:12] #379 closed, assigned to nobody

[2019-06-05 08:38] Rush-er commented on #375
Tested, i can change the string color etc. but no the background, thanks btw

[2019-06-10 01:11] mwt opened #382 "Only bake icons to html if they are being used"
I've opened up a simple pull request for this minor optimization #381

It just makes the HTML file *slightly* smaller. It's particularly nice if anyone wants to add more icons in the future.

I conditioned the insertion of the inline SVGs on the variables in the main config file.

[2019-06-10 18:36] mehmandarov commented on #350
@sergiokopplin Ping. :)

[2019-06-10 18:37] mehmandarov commented on #348
@sergiokopplin Ping. :)

[2019-06-10 18:37] mehmandarov commented on #347
@sergiokopplin Ping. :)

[2019-06-10 18:39] mehmandarov commented on #374
Could it be because of ad-blocking plugin, @igibek?

[2019-06-10 18:40] #373 closed, assigned to nobody

[2019-06-10 22:20] mhaeussermann commented on #375
Just add a line to "body" in general.sass with "background-color: $VARIABLE" and you should be fine.

[2019-06-11 08:49] Rush-er commented on #375
ok it works, thanks

[2019-06-11 08:49] #375 closed, assigned to nobody

[2019-06-11 16:29] sergiokopplin commented on #375
Nice work @Rush-er @mhaeussermann @MattWThomas! It looks awesome

[2019-06-21 17:32] iamrajiv opened #385 "make a collapsible menu for the header for mobile"
In mobile, I see the header menu expanded vertically.

![Capture](https://user-images.githubusercontent.com/42106787/59940492-7287ce80-9478-11e9-8bba-4d08c4a87dce.JPG)

This doesn't look good to me. I think it'd be better a collapsible menu.

[2019-07-01 06:24] subaiwen opened #388 "Language of mydisqus"
The language of comment/discussion area is Korean. How can i convert it to English. Thanks

[2019-08-13 16:32] ShoSashko opened #392 "Include testimonials section"
Hi!
What do you think about adding testimonials/feedback for the project section?

[2019-08-13 20:26] underdogliu commented on #388
Got the same problem as well. Tried to search for `kr` but seems nothing relevant popped up. Anybody got solutions of hints?

[2019-08-15 14:00] ShoSashko commented on #392
@sergiokopplin what do you think about that? :)

[2019-08-17 09:23] heychirag opened #393 "Migrate to jekyll-paginate-v2"
Since jekyll-paginate is no longer under active development and maintenance, we should migrate to jekyll-paginate-v2 in the near future. It is also more feature-rich than the previous version.

[2019-08-17 09:30] mehmandarov commented on #393
Hi, @heychirag! Good idea! Could you look into that and submit a PR?

[2019-08-17 15:19] heychirag opened #394 "using jekyll-archives to generate tag pages"
I recently integrated jekyll-archives into my blog. This helped me replace the default tags page with something that has a separate page for each tag. I think this could be better for SEO and especially for bigger blogs. Further, I also used it to display posts year wise.

Have a look at my blog https://chia.ro and the screenshots below. If I get positive reviews, I could submit a PR.

![Screensho

[2019-08-18 10:34] heychirag commented on #393
@mehmandarov, check #395.

[2019-08-19 15:26] underdogliu commented on #388
@subaiwen So not sure if you have solved the problem but I kinda figured it out (and also, for other people that encountered this problem as well).

A simple solution is you may want to register [Disqus](https://disqus.com/home/) and follow the instructions [here](https://desiredpersona.com/disqus-comments-jekyll/) to create your 'pool'. Then (after waiting for a while maybe?) you can change the `

[2019-08-20 01:08] subaiwen commented on #388
@underdogliu Thanks. I activated my shortname before reporting this issue. The problem was that the `disqus` section was in Korean. I disabled the section by commenting it out.
I tried the instruction you provided. The `disqus` section is gone, even though I enable it in `config.yml`

[2019-08-20 08:27] underdogliu commented on #388
@subaiwen hmm....it worked for me :thinking:

and just went to one of your blogs, it looks like you are having a english ver. of disqus enabled

[2019-08-20 19:05] subaiwen commented on #388
@underdogliu Sorry, I forgot to reply. I got the error email from GitHub said ```You have an error on line 1 of your `_config.yml` file```. So I revised the `_config.yml` file and It worked! The essential part was to get a short name, register the website, and change the language in `disqus`. Thanks again.

[2019-08-20 19:05] #388 closed, assigned to nobody

[2019-09-12 19:41] alrevuelta opened #396 "After configuring as explained, Site not found"
I have forked the repo and modified the `_config.yml` file with my `http://USERNAME.github.io` url, but when I type it in the browser,  I get "404 Site not found". I have even tried changing the repo name to `username.github.io` but still no luck. Am I the only one facing this issue? Its not the first time I set up a github pages theme, but I can't get this one to work.

Thanks!

[2019-09-16 17:42] heychirag commented on #396
It's probably an issue with Github itself, not this theme. I am using this with Gitlab and it is working totally fine with it.

[2019-09-19 09:17] alrevuelta commented on #396
Nice to know it is working in Gitlab. Have you tried with GitHub?

[2019-09-20 11:44] heychirag commented on #396
Nope.

[2019-12-23 04:00] eric-tramel commented on #348
@mehmandarov I'm running into the same issue with a fresh (as of today) install of Ruby & Jekyll.

[2019-12-23 14:58] mehmandarov commented on #348
@eric-tramel: There is a pull request waiting to be merged to fix this issue: https://github.com/sergiokopplin/indigo/pull/349.

[2019-12-28 02:16] ghost opened #408 "failed in bundle install"
after I type in bundle install, I get this massage:

Fetching gem metadata from http://rubygems.org/...........
Fetching gem metadata from http://rubygems.org/.
Resolving dependencies....
Using concurrent-ruby 1.1.5
Using i18n 0.9.5
Using minitest 5.13.0
Using thread_safe 0.3.6
Using tzinfo 1.2.6
Using activesupport 5.2.4.1
Using public_suffix 3.1.1
Using addressable 2.7.0
Using backports 3.15.0
U

[2019-12-30 06:47] ganjarpanji opened #410 "Emoji on bio"
Is it possible to add emoji on bio?

[2019-12-30 06:52] ganjarpanji commented on #410
i tried using :rain_cloud:  but its not displayed

[2020-01-10 12:48] underdogliu opened #411 "How to have new sections?"
Dear author,

First of all thanks for having such amazing theme and I have been using it really smooth! However, I have a small problem when trying to play with it more - So far we have three main sections on the home page: 'Blog', 'Projects', 'About'. I would like to add a new site called "publications", for example. Is it possible do it under this theme?

Looking forward to your reply and thanks

[2020-01-12 15:12] pierre10101 commented on #348
In the meantime I fixed this by excluding the path folder in my _config.yml file.  I am using rbenv and do not have a vendor folder.

[2020-01-13 13:36] underdogliu commented on #411
Pretty sure I already got the answer

[2020-01-13 13:36] #411 closed, assigned to nobody

[2020-01-13 16:20] sergiokopplin commented on #408
this is a deleted account, closing this

[2020-01-13 16:20] #408 closed, assigned to nobody

[2020-01-13 16:21] sergiokopplin commented on #319
closing this then. we can improve all our dependencies in another branch/issue

[2020-01-13 16:21] #319 closed, assigned to sergiokopplin

[2020-01-13 16:23] sergiokopplin commented on #385
Can you open a pull request with that feature? 🤓

[2020-01-13 16:23] #385 closed, assigned to nobody

[2020-01-13 16:23] sergiokopplin commented on #392
We can improve wit that! Can you create a pull request with that feature?

[2020-01-13 16:23] #392 closed, assigned to nobody

[2020-01-13 16:24] sergiokopplin commented on #348
It seems to not be happening anymore. Can you guys check that too? No errors here. Closing for now

[2020-01-13 16:24] #348 closed, assigned to sergiokopplin

[2020-01-13 16:25] sergiokopplin commented on #374
Closing, it seems ok here

[2020-01-13 16:25] #374 closed, assigned to nobody

[2020-01-13 16:27] sergiokopplin commented on #410
It's possible, my test was -> A Man who travels the world eating noodles 🚀

![image](https://user-images.githubusercontent.com/2743180/72273035-6330c400-3608-11ea-8d87-3d65c5a31739.png)

[2020-01-13 16:27] #410 closed, assigned to nobody

[2020-01-13 16:28] sergiokopplin commented on #396
Have you tried with https? The docs are fine. Can you put a step by step of what you did?

[2020-01-13 16:32] sergiokopplin opened #412 "Failling Ci Tests"

[2020-01-14 03:34] ganjarpanji commented on #410
somehow it only works for rocket emoji LOL

[2020-01-14 13:08] alrevuelta commented on #396
Still not working for me. I even created a new GitHub account and tried, but no luck, even with https as you suggested. This is what I have done:
* Fork the project
* Change the repo name to "myUserName.github.io"
* Edit `_config.yml` with https://myUserName.github.io

Thanks!

[2020-01-21 13:39] mehmandarov commented on #393
The PR https://github.com/sergiokopplin/indigo/pull/395 has now been merged. Closing the issue. Thanks, @heychirag!

[2020-01-21 13:39] #393 closed, assigned to nobody

[2020-01-21 13:40] sergiokopplin commented on #347
278 merged!

[2020-01-21 13:40] #347 closed, assigned to sergiokopplin

[2020-01-21 13:41] sergiokopplin commented on #350
merged

[2020-01-21 13:41] #350 closed, assigned to sergiokopplin

[2020-01-21 13:41] sergiokopplin commented on #382
Someone else made a thing that fixed this! But it was merged. Thanks @MattWThomas

[2020-01-21 13:41] #382 closed, assigned to sergiokopplin

[2020-01-21 13:42] #412 closed, assigned to sergiokopplin

[2020-01-22 16:26] sergiokopplin commented on #396
I've checked your pull request and it seems all fine. Have you tried moving your branch from gh-pages to master? Then you can go to settings and check if everything is fine.

[2020-01-22 16:26] sergiokopplin commented on #396
Let's close the issue and solve your problem with this closed.

[2020-01-22 16:26] #396 closed, assigned to nobody

[2020-01-22 18:42] alrevuelta commented on #396
Solved! That was the issue, I had `gh-pages` as default, don't know why though, changing it to `master` fixes the issue. Thanks!

[2020-01-27 11:04] roomylee opened #416 ""fa_svg" error"
I got a message like the below and my github page not working because of it.

Is there any problem about "fa_svg" tag or font awesome svg ?

[2020-01-30 04:14] amansingh9097 opened #417 "is there a way to embed GIF in the posts?"
So far I have tried embedding the GIFs in the markdown as,
[code]
but it seems this never works on this theme. So is there a better way to embed GIF in the markdown post files?

[2020-01-30 13:15] sergiokopplin commented on #417
Have you tried this one? https://github.com/vfalanis/jekyll-giphy

[2020-01-30 13:19] sergiokopplin commented on #416
Hey @roomylee

Have you tried to update your branch with the current one from indigo?
I've seen few differences between your code and Indigos more updated branch.

Can you update, run the readme and test it again?
Let me close for now.

[2020-01-30 13:20] sergiokopplin commented on #394
Hey @heychirag. It seems great! Can you help us with a pull request? Thanks

[2020-01-30 13:20] #394 closed, assigned to nobody

[2020-01-30 14:46] roomylee commented on #416
Thank you for your reply @sergiokopplin
i already have latest branch(gh-pages) version. (and gh-pages renamed master in my repo. refer to #396 )
In my local environment, it work well. but unfortunately it does not work on github page...

[2020-01-30 17:28] heychirag commented on #394
@sergiokopplin do you want me to submit a PR for this?

[2020-01-30 19:38] sergiokopplin commented on #394
Yeah, you can do that! Make sure that you can turn this off anytime inside config files. It seems to be a good feature for everybody,

[2020-01-30 19:39] sergiokopplin commented on #416
Weird. It seems that you're the first with this problem.
I'm not sure how to fix this. I've made a search about this issue and found nothing relevant.

We need more testing on this.

[2020-01-31 01:31] roomylee commented on #416
@sergiokopplin really appreciate
Thank you for your attention. I hope to solve this problem soon.

[2020-02-02 04:38] amansingh9097 commented on #417
But that would be able to add only the giphy GIFs. How to add my own GIFs?

[2020-02-03 13:52] sergiokopplin commented on #417
https://stackoverflow.com/questions/34341808/is-there-a-way-to-add-a-gif-to-a-markdown-file

Does this help you?

[2020-02-03 13:53] sergiokopplin commented on #417
We need to check that then. Help needed.

[2020-02-06 22:43] kunalbotla opened #418 "Getting Error When Building"
I get this error when GitHub Pages builds:

[code]

Here is the link to the repo if that helps: [https://github.com/kunalbotla/indigo](link)

[2020-02-07 12:48] sergiokopplin commented on #418
same as #416

[2020-02-07 12:48] #418 closed, assigned to nobody

[2020-02-07 12:48] sergiokopplin commented on #418
Let's track this issue there. Thanks @kunalbotla

[2020-02-07 14:11] kunalbotla commented on #416
My issue is the exact same.

[2020-02-07 14:42] kunalbotla opened #419 "Icons are bigger than they should be"
The icons on the pages seem bigger than they should be. This is running locally with a clean download. Please look at the attached screenshot so you can see exactly what I mean.

<img width="1266" alt="Screen Shot 2020-02-07 at 9 41 26 AM" src="https://user-images.githubusercontent.com/25641153/74038402-20a3a280-498e-11ea-8dba-3b76e42cc011.png">

[2020-02-07 17:40] sergiokopplin commented on #419
We've fixed that no a PR. Is your branch updated?

[2020-02-07 20:26] kunalbotla commented on #419
I think it is. I cloned it just 6 hours ago... Do I use a pull request to update it?

[2020-02-08 01:23] kunalbotla commented on #419
It looks to be the latest branch.

[2020-02-09 04:24] Jangmin-Lee commented on #416
Same here

[2020-02-09 15:45] jayloofah commented on #419
I have the same issue as well, the icons referenced from the new source appear are much larger and the height/width parameters that size the icons have increased it seems.

The footer icons and rss icons have increased to 25px and 40px respectively.

[2020-02-12 20:37] KaustubhSathe commented on #416
same here

[2020-02-14 13:21] jayloofah commented on #419
Also curious if all of these changes made recently will be pushed into a new release or will update the static page demo?

[2020-02-17 10:17] sergiokopplin commented on #416
I've merged a PR. can you guys check if it works?

[2020-02-17 10:17] sergiokopplin commented on #419
I've merged a PR. can you guys check if it works?

[2020-02-18 02:22] kuantingchen04 commented on #416
Sorry for the inconvenience. I found the problem still exists and the it occurs since a83f71f786a5bd70797e60e11bfc4c26985b6fba.

I think the plugin `jekyll-fontawesome-svg` might not be supported on Github Pages.
Here is a list of its [supported plugins](https://pages.github.com/versions/). For more details please check [here](https://help.github.com/en/github/working-with-github-pages/about-githu

[2020-02-18 11:18] KaustubhSathe commented on #416
still not working

[2020-02-18 13:25] sergiokopplin commented on #416
I'll check it later

[2020-02-18 13:31] MayankKr8 opened #423 "Support for google-scholar and orcid icons"
The theme covers all necessary icons for social media/networks. However, lacks support for research networks such as google-scholar and Orcid. Can someone please look into it?

[2020-02-25 06:49] JiaqiWang1107 commented on #416
the same problem

[2020-02-26 19:30] jayloofah commented on #416
There ought to be a fix I feel (other sites use this I'm sure).

[2020-02-26 22:15] JiaqiWang1107 commented on #416
[image: Screen Shot 2020-02-26 at 5.15.02 PM.png]

On Wed, Feb 26, 2020 at 2:30 PM jayloofah <notifications@github.com> wrote:

[2020-02-26 22:16] JiaqiWang1107 commented on #416
The page build failed for the `gh-pages` branch with the following error:

The tag `fa_svg` on line 14 in `_includes/author.html` is not a recognized Liquid tag. For more information, see https://help.github.com/en/github/working-with-github-pages/troubleshooting-jekyll-build-errors-for-github-pages-sites#unknown-tag-error.

[2020-02-27 20:16] #419 closed, assigned to nobody

[2020-02-27 20:19] sergiokopplin commented on #423
Hey @MayankKr8. I think the best you for you to do that is importing an Icon that you want to render.
If you find any Jekyll package that does that, we can implement, otherwise it seems to be a very specific use case.

[2020-02-27 20:19] #423 closed, assigned to nobody

[2020-02-27 20:34] sergiokopplin commented on #417
Does this help you @amansingh9097 -> https://brettterpstra.com/2015/08/20/a-jekyll-plugin-for-animated-gifs/

[2020-02-27 20:34] sergiokopplin commented on #417
Let me know

[2020-02-28 16:40] #417 closed, assigned to nobody

[2020-02-29 06:22] imyilin commented on #417
yes

------------------原始邮件------------------
发件人： &nbsp;“ SérgioA . Kopplin” <notifications@github.com&gt;;
发送时间： &nbsp;2020年2月29日（星期六）凌晨0:41
收件人： &nbsp;“ sergiokopplin / indigo” <indigo@noreply.github.com&gt;;
抄送： &nbsp;“ Subscribed” <subscribed@noreply.github.com&gt;;
主题： &nbsp;回复：[sergiokopplin / indigo]是否可以在帖子中嵌入GIF？（＃417）

封闭式＃417。

—
您收到此消息是因为您已订阅该线程。
直接回复此电子邮件，在GitHub上查看，或取消订阅。

[2020-02-29 17:16] ekercaglar commented on #416
Same problem

[2020-03-02 12:43] sergiokopplin commented on #416
I'm looking into this, i don't have a solution yet.
I was thinking about removing the liquid tag from that specific file and updating it with a html tag instead. What you guys think? It will generate the favicon html, it will render with the css class and I think it will work. I didn't test it yet.

[2020-03-02 17:00] amansingh9097 commented on #417
Hi @sergiokopplin

I'm sorry I'm new to jekyll themes, can you help me with, how I can add that jekyll plugin to your theme so that I can showcase some GIFs in my posts? Thanks

[2020-03-03 22:44] dadadima commented on #416
I think you can do it that way. btw, I do also have the same problem, which one is the latest stable release?

[2020-03-04 13:11] sylvainmetayer commented on #416
Hello,

I'm the author of the PR #338 that seems to break site with github page. As I don't use Github page to deploy my site, I don't have this bug. Sorry about this :disappointed:

I see 2 solutions :

- Remove this PR and go back to one HTML file, less flexible but it worked before.
- Try to see what github actions could do with this. I'm thinking about adding [this action](https://github.com/h

[2020-03-04 14:22] JiaqiWang1107 commented on #416
Thanks for your effort!

If possible, could you please add another version of the whole website that
could be run on Github? That might be easier for beginners like me. Thank
you!

On Wed, Mar 4, 2020 at 8:11 AM Sylvain METAYER <notifications@github.com>
wrote:

[2020-03-04 22:26] jayloofah commented on #416
@sylvainmetayer what are you using to deploy?

[2020-03-05 07:06] sylvainmetayer commented on #416
I host it on my raspberry and using travis CI to build and deploy

@sergiokopplin  @JiaqiWang1107 I'll try to submit a PR on *master* this weekend to fix this.

[2020-03-05 13:36] sergiokopplin commented on #416
Nice @sylvainmetayer! The font-awesome feature seems to be necessary! So, if you can, don't remove that, try first something that fix the problem instead of removing the feature. What do you think>

[2020-03-08 21:05] sylvainmetayer commented on #416
I've been looking at [this action](https://github.com/BryanSchuetz/jekyll-deploy-gh-pages) and with some edits, I've managed to build and deploy a site from master branch, to gh-pages branch, while building with jekyll-fontawesome gem.

@sergiokopplin Can you create a master branch so I can propose a PR against it with the github action setup ?

Their is maybe some details to work on, such as path

[2020-03-09 14:33] sergiokopplin commented on #416
@sylvainmetayer really nice work! well done.

I'm thinking about this solution, and it seems to be complicated for new users. In my opinion Indigo should be simple, and now it's too difficult. This new action to deploy adds another layer for the users to learn how to have a personal website running.

The solution is great, modern and has new technologies from github, awesome!
But, the solution is

[2020-03-09 14:40] sergiokopplin commented on #416
Btw, I've tested removing the tag and creating the html tag. It doesn't work because we don't actually load the font-awesome font files. So, we need to find another way.

[2020-03-09 16:20] sylvainmetayer commented on #416
If we want to keep the fontawesome gem, we'll have to use GitHub actions or a different build system than the one we use now, the gem will probably never be whitelisted to be used with GitHub pages natively. The only workaround is to rollback the PR, and adding back fontawesome icons one by one.

Their is no additional setup for the user, no token to generate, the workflow is still the same, clone

[2020-03-09 16:23] sergiokopplin commented on #416
Maybe I've made a mistake then.

![image](https://user-images.githubusercontent.com/2743180/76234833-0406be80-6209-11ea-8ad1-2e510f9ff1c6.png)

I thought it would be necessary.

Let's try your approach with the master branch. @sylvainmetayer

[2020-03-09 16:24] sergiokopplin commented on #416
@sylvainmetayer Master Branch available. What else do you need?

[2020-03-09 16:42] sylvainmetayer commented on #416
Yes I've been confused while testing, though we would need one token too but seem GitHub auto provide one at runtime named "GitHub_token" and it works well.

I need nothing else, I will provide the pull request soon!

[2020-03-09 16:46] sylvainmetayer commented on #416
Pull request submitted.

One thing to notice : all users will have to rebase from master branch and use master branch from now. Maybe we should consider making a release after merging and announcing some breaking change for existing users?

[2020-03-09 17:18] sergiokopplin commented on #416
Yeah, that makes sense! Let's test it, then we can think about making a release.

[2020-03-09 17:21] sergiokopplin commented on #416
I've added you as a collaborator @sylvainmetayer

[2020-03-09 17:22] sergiokopplin commented on #416
Merged @sylvainmetayer

[2020-03-09 17:41] sylvainmetayer commented on #416
Sadly it seems that this didn't solve our issue :disappointed:

I'll look into it during the week, when I'll have a moment.

[2020-03-09 18:10] sylvainmetayer commented on #416
Build site is correctly pushed to github pages branch, but I don't know why Github page jobs run before github actions :cry:

However, the site seems to be build, even in error... Strange, we'll have to look into it

[2020-03-09 18:13] sergiokopplin commented on #416
I'm also looking into that!

[2020-03-09 18:14] sylvainmetayer commented on #416
[This](https://github.community/t5/GitHub-Actions/Github-action-not-triggering-gh-pages-upon-push/m-p/31266/highlight/true#M743) could be an hint, and would require to edit the action I've used ([here](https://github.com/sylvainmetayer/jekyll-deploy-gh-pages))

[2020-03-10 20:45] sylvainmetayer commented on #416
@sergiokopplin I've done some testing, and after forcing first update (by triggered an other with an useless commit, we could also have done that using github API), it seems to work now. See https://koppl.in/indigo/about/ and 06bd5ba4088347dbc832f8887c924c0f57d268d7 done right now, it seems to me that it is ok ?

[2020-03-11 17:24] gforghieri commented on #416
Hi @sergiokopplin and @sylvainmetayer,

I can confirm that the fix suggested by @sylvainmetayer  successfully deploys the site on Github
Pages. https://gforghieri.github.io/

**The steps to follow**:

1. Fork the repo
2. Make any changes e.q. add an extra line to the readme.md and commit it to trigger the GitHub Actions to run. The Github Actions are using the `.github/workflows/main.yml` file whi

[2020-03-11 18:02] gforghieri commented on #416
To add,

Even though it is a solution, I agree with @sergiokopplin that it is not a user-friendly one and the building of the site takes quite long this way.

So this should be fixed such that there is native support for Github Pages.

[2020-03-11 23:07] gforghieri opened #427 "On mouse-hover the title of the "fas.fa-*" icons overlaps the content"
**The below pictures tell it all.** That title is generated and injected somehow into the HTML.
Can we get rid of them please? This is extremely annoying, from a user-experience perspective.

@sergiokopplin, @sylvainmetayer

![Untitled](https://user-images.githubusercontent.com/23422651/76472145-fca40880-63f4-11ea-9997-26a4b59c99b8.png)

![old_untitled](https://user-images.githubusercontent.com/23

[2020-03-12 10:45] sylvainmetayer commented on #416
Hi @gforghieri and sorry for the setup trouble ! I'm glad you finally succeeded to make it work however.

I think this gem plugin will never be whitelisted on github pages. The only solution to fix this is to remove the gem and go back the way it was before, where their was a lot of conditionnal state and svg where manually defined.

[2020-03-14 10:24] jayloofah commented on #416
Hmm, is it possible to host on Gitlab without error using this method?

[2020-03-15 10:14] sylvainmetayer commented on #416
@jayloofah I don't think so, you'll have the same issue on gitlab, I guess gitlab page too use whitelisted gems only

[2020-03-15 10:15] sylvainmetayer commented on #416
@sergiokopplin What do you think we should do ? Rollback the PR and go back as it was before ? Or consider the github actions a good enough option ?

[2020-03-16 21:21] kunalbotla commented on #419
I just got to check this and it looks like the issue if fixed.

[2020-03-17 02:24] kunalbotla opened #428 "Posts not showing on list"
My posts are not showing up on the list. I am able to create posts, but they just don't show up. I've even tried just duplicating the posts already made and changing their name to see if that works.

[2020-03-17 17:13] kunalbotla commented on #416
@sergiokopplin and @sylvainmetayer, what exactly is the fix. I'm not sure how exactly it works. I feel making it user-friendly to deploy to GitHub Pages is the best option.

[2020-03-17 17:24] mehmandarov commented on #428
Hi, @kunalbotla! Do you have an example of such posts you can link to here?

[2020-03-17 17:25] kunalbotla commented on #428
They are on my repo at https://github.com/kunalbotla/indigo

[2020-03-17 17:26] mehmandarov commented on #416
@sergiokopplin and @sylvainmetayer: Yes, I think at this point it is better to revert to change while you work on separate branch with this feature?

[2020-03-17 17:34] kunalbotla commented on #428
@mehmandarov I'm not able to publish it right now because I am waiting for the GitHub Pages issue to be resolved.

[2020-03-17 17:48] mehmandarov commented on #428
You can still test it locally. Also with a [Docker image](https://mehmandarov.com/disposable-docker-containers/). Can you try removing `externalLink: false` in the fornt matter (i.e. header in the post)? This should resolve your issue.

[2020-03-17 17:52] kunalbotla commented on #428
@mehmandarov: I am currently testing it locally. I just tried removing that but it does not seem to solve the issue.

[2020-03-17 17:59] mehmandarov commented on #428
Can you also check that you have a correct category? If should be `category: blog`.

[2020-03-17 20:45] kunalbotla commented on #428
@mehmandarov, I want it to show up in projects so I set it to `category: project`

[2020-03-20 16:50] sylvainmetayer commented on #416
@kunalbotla

I agree too, the fix I've tried should be "clone and you're ready to go with github page and github actions auto-configured" but I need more feedback too see if it is reliable or not.

If not, we'll have to rollback and remove this PR because their is no other fix for this. The gem will never be allowed on github page, we'll have to rewrite it the way it was before and include manuall

[2020-03-25 01:22] kunalbotla commented on #428
@mehmandarov it should show up in the list automatically correct?

[2020-03-25 12:00] mehmandarov commented on #428
Could you please provide us with steps to reproduce the issue, with information about what are you doing, what are the expected results and what are you getting instead, as well as some code examples. It will be much easier to help you then. :)

[2020-03-25 12:12] sylvainmetayer commented on #428
You should not edit the category but add the `projects` to `true` in the front matter of your post. See [here](https://raw.githubusercontent.com/sergiokopplin/indigo/master/_posts/2016-01-23-indigo-jekyll-theme.markdown) for an example

[2020-03-29 19:39] Jun0413 commented on #416
Hi @sylvainmetayer

Thanks for your great work. I am new to Jekyll, but am able to go through your commits and trigger the action to build my GitHub page. You may visit it on `jun0413.github.io/indigo`.

In addition to using GitHub action, I would like to share a problem that I ran into. To use the `gh-page` branch, I changed the repository name to `indigo` instead of `<username>.github.io`. I can

[2020-03-30 23:01] Zeyuzhao commented on #416
Hi @gforghieri
Could you show me how you used GitHub actions with your profile (https://gforghieri.github.io/) GitHub pages? When I used the utility, it compiled to gh-pages, which I could not use with my zeyuzhao.github.io repository. The settings indicate only the master branch could be used.

![image](https://user-images.githubusercontent.com/6325738/77969787-95bd9500-72b8-11ea-9b54-44f95a24ee7

[2020-03-31 02:52] Jun0413 commented on #416
@Zeyuzhao Hi I think you need to use gh-page branch instead of the master branch. That said, you could not use zeyuzhao.github.io because it requires pages to be built from the master branch. My approach was to rename the repository from xxx.github.io to indigo, and set the site to build from gh-page branch, and the url will be xxx.github.io/indigo.

[2020-03-31 04:13] Zeyuzhao commented on #416
@Jun0413 Thanks for the reply! Right now, I am following your approach (renaming my repo to **personal** and thus the url would be zeyuzhao.github.io/personal), but I would like to find out if there is an alternative approach to using just zeyuzhao.github.io for the name with this GitHub Action utility.

I was thinking of modifying zeyuzhao.github.io's master branch in the same way the gh-pages is

[2020-03-31 04:39] Jun0413 commented on #416
Hi @Zeyuzhao, I think to accomodate for that, you can try "swapping" master branch and gh-page branch. First of all, I am not sure whether GitHub will work in that way, but you can definitely reset your master branch. In such way, your old master branch becomes gh-page, your old gh-page branch becomes master branch. So you will modify on gh-page branch locally, and use GitHub action to build to th

[2020-03-31 14:31] sergiokopplin commented on #416
Hey guys! Awesome discussion! @sylvainmetayer let's go back to the older version?What do you think?

[2020-04-01 19:14] sylvainmetayer commented on #416
Sure, let's do this.

@sergiokopplin I'll let you reverse the PR ?

[2020-04-08 09:15] vineelsai26 opened #431 "Add Projects to project tab"
how to add projects to projects tab like this
![Annotation 2020-04-08 144425](https://user-images.githubusercontent.com/52851879/78766978-a1d7df80-79a7-11ea-8d6b-eebe77604d46.png)

[2020-04-08 14:08] trip-itaka opened #432 "bundle exec jekyll serve --config _config.yml,_config-dev.yml error"
I have followed instructions in readme. (With the excepton that i installed ruby dev kit instead of bundler, since bunder is now part of ruby)
i am working in visual studio code.

after executing
`bundle exec jekyll serve --config _config.yml,_config-dev.yml`

i receive a whole bunch of errors
Traceback (most recent call last):
        31: from C:/Ruby26-x64/bin/jekyll:23:in `<main>'
        30: f

[2020-04-09 13:20] w4h4z opened #433 "Not a recognized Liquid tag"
Your site is having problems building: The tag fa_svg on line 7 in _includes/footer.html is not a recognized Liquid tag.

what must I do?

[2020-04-10 00:34] trip-itaka commented on #432
so i just needed to add libcurl.dll into ruby/bin directory

[2020-04-10 00:34] #432 closed, assigned to nobody

[2020-04-12 03:58] kunalbotla commented on #416
Has this been rolled back to the older PR without the problem?

[2020-04-12 04:02] kunalbotla commented on #431
Make a duplicate of that one and you would be fine or you can use the tags that are listed in it.
Also I don't think this is the type of thing you would open an issue for.

[2020-04-12 04:04] kunalbotla commented on #433
#416 is the same issue.

[2020-04-12 18:10] kunalbotla commented on #428
It just started working again after I cloned it again.

[2020-04-12 18:10] #428 closed, assigned to nobody

[2020-04-12 18:36] kunalbotla opened #434 "Branches"
What are the differences between each branch? I have made edits to the master branch but don't know what to do to transfer the data to the gh-pages branch to deploy to GitHub Pages.

[2020-04-13 20:06] sylvainmetayer commented on #434
Hello,

Master branch contains a github actions yaml file which allow to build and deploy site, with custom extension such as the Font awesome's one. This then deploy the builded site to gh-page branch, which would not be possible directly from gh-page as it was the case before because Github does not allow custom extension / gem (for obvious security issues).

Basically, their is no difference ex

[2020-04-13 20:10] sylvainmetayer commented on #427
Hello, this is indeed an annoying error.

Removing the title in the svg definition should fix this, but I'm wondering if from an accessibility point of view, this would be a good choice ?

[2020-04-13 20:11] sylvainmetayer commented on #431
As @kuantingchen04 said, just copy the sample file and edit it to fit your need. Please reopen if you encounter any error while doing so.

[2020-04-13 20:11] #431 closed, assigned to nobody

[2020-04-13 20:12] sylvainmetayer commented on #416
@sergiokopplin Did you get any time to take a look on this one ?

[2020-04-13 20:13] sylvainmetayer commented on #433
Indeed, this is a duplicate of #416, let's keep continue discussion there

[2020-04-13 20:13] #433 closed, assigned to nobody

[2020-04-14 23:27] sergiokopplin commented on #416
I'll take a look this week!
I'm changing jobs this week so I'm in a rush.
BTW, stay safe guys!

[2020-04-16 15:03] sergiokopplin commented on #434
I've updated. So only gh-pages for now.

[2020-04-16 15:03] #434 closed, assigned to nobody

[2020-04-16 15:03] sergiokopplin commented on #416
I've made several fixes. Can you guys check?

[2020-04-17 12:43] sergiokopplin commented on #427
Have you tried that solution @gforghieri?

[2020-04-19 01:29] kunalbotla commented on #416
It looks like it is working on GitHub Pages now. Why are the icons changed to this:

![image](https://user-images.githubusercontent.com/25641153/79677118-bdb75e80-81bb-11ea-8680-118fa61ca6ab.png)

[2020-04-19 02:16] sergiokopplin commented on #416
Because we've removes fontawesome icons. We can have the fontawesome ones, but we need a new feature for that.

[2020-04-19 02:17] sergiokopplin commented on #416
It seems to be solved then. Closing

[2020-04-19 02:17] #416 closed, assigned to sergiokopplin

[2020-04-19 02:17] kunalbotla commented on #416
@sergiokopplin can the icons just be hosted locally?

[2020-04-19 02:57] kunalbotla opened #438 "Why is Disqus like this?"
<img width="592" alt="image" src="https://user-images.githubusercontent.com/25641153/79678303-e5acbf00-81c7-11ea-9a44-81c6eaf67645.png">

[2020-04-19 20:30] sergiokopplin commented on #416
@kunalbotla What do you mean by locally?

[2020-04-20 15:16] kunalbotla commented on #416
Like having them as an asset that is downloaded and not use a plugin.

[2020-04-23 19:40] #438 closed, assigned to nobody

[2020-04-23 19:58] sergiokopplin commented on #438
Have you fixed @kunalbotla? Where that was happening?

[2020-04-23 19:59] kunalbotla commented on #438
Yes, I just had an issue with my Disqus settings, it was on their end.

[2020-04-23 20:14] kunalbotla commented on #286
Can you specify one that works with this? And what settings if applicable.

[2020-04-24 19:15] heychirag opened #439 "Dark Theme"
Support for dark theme as this is the new fad.

[2020-04-27 12:45] sergiokopplin commented on #439
I've done some changes in a branch locally, but it needs some refactor. I'll push it later, then we can work together on that

[2020-05-01 11:47] Nazeeefa opened #443 "CSS Flipping Animation"
Hi! Newbie here (sorry if question sounds silly). I was wondering if it is possible to use [flip animation](https://davidwalsh.name/css-flip) in this theme? For example, on homepage. Cheers!

[2020-05-04 13:37] bodenr opened #444 "pagination doesn't work with github pages"
It appears pagination doesn't work when using this theme with github pages.

I initially had pagination enabled and when testing my blog locally things were working as expected; when viewing my blog on `localhost:4000/blog` my posts where showing up as desired. However, when I pushed my site to github and viewed the resulting github.io page for my blog, the string `page of` was showing rather than

[2020-05-08 11:14] Amangondaliya555 opened #446 "blog page"
i can't add any blog. The blog page is just blank even there are blogs. Can anyone help? i did set author name and category to blog but it didn't work.

[2020-05-13 13:27] asifimtious opened #447 "Homepage isn't appearing"
After deploying on Netlify, it just shows the text below:

[2020-05-15 02:50] mrtrkmn commented on #446
@Amangondaliya555 check out your blog post date value, it is important to set it up to valid date which is passed.

[2020-05-24 04:44] CunningLearner opened #448 "url doesn't map correctly?"
I just tried forking this around and rename repo to `USERNAME.github.io` and change url to: `USERNAME/github.io` in _config.yml
It says site not found at USERNAME.github.io

Though, i tried with `something` as repo  `USERNAME.github.io/something` as url in _config.yml and it works well.
Whats the problem without /something? I want my home landing at USERNAME.github.io

[2020-05-28 04:18] DariushNejad opened #450 "Renaming tabs or adding new ones."
I'm not that experienced with coding or writing scripts. I wanted to know if anyone could tell my how to rename the Resume tab? Or perhaps how I can add new tabs?

[2020-05-29 19:14] rodrigocprates opened #451 "[Question] How can I list categories on a blog page or in a single page?"
Hi there

I'd like to know how could I improve usability by:

- on top of blog page list all categories for posts (to let users filter)
- beside each listed blog post display it's categories

Thank you!

[2020-06-29 00:21] sergiokopplin commented on #447
We didn try on Netlify yet :/

can you send more details?

[2020-07-06 09:49] iamgmujtaba commented on #448
I have same problem.
Did you solve it @CunningLearner ?

Thanks in advance

[2020-07-06 10:24] CunningLearner commented on #448
Not yet!
I am still on `/something` which I didn't like at all.

[2020-07-12 22:34] #451 closed, assigned to nobody

[2020-07-18 13:06] andrew-ares opened #457 "Invalid US-ASCII character "\xE2""
env: CentOS 8

I just follow the README.md to set up all thing.
The output of `bundle exec jekyll serve --config _config.yml,_config-dev.yml`  in the terminal is as follows:

[code]

But it works on macOS 10.15.6.

[2020-07-18 13:43] Nazeeefa commented on #439
Thanks @sergiokopplin! Option to switch from light to dark theme would be great and useful!

[2020-07-18 14:02] #457 closed, assigned to nobody

[2020-07-18 14:42] Niquarl opened #458 "Add fediverse (ie. Mastodon) social link"
I'd like to be able to add some fediverse social links on top of the usual twitter, github, email etc. So basically Mastodon, Pixelfed, PeerTube and the like
If I understand correctly I need to add each social media as all the others in config.yml but then I'm not sure how to do the rest. I think I need to add each website in the _includes/social-links and _includes/icons
For the social-links I th

[2020-07-18 16:26] Niquarl commented on #458
Ok, fixed the icon. Would still be cool to have fediverse social stuff in the basic.

[2020-07-19 16:21] kartik144 opened #459 "Add support for Google Scholar in socials"
Hi,

Would it be possible to add support for google scholar icon in socials?

Icon Image PNG: https://www.cleanpng.com/png-google-scholar-education-research-doctor-of-philos-1739102/

[2020-07-21 06:03] iamgmujtaba opened #460 "How to use new icons (ORCID or Google Scholar) in the template?"
Hi There,

I am want to use other social icons in the template (following code copied from your template). Can you help me with how can I create icons as you have used for Facebook and other SNS?

<symbol id="icon-facebook" viewBox="0 0 1024 1024">
<title>facebook</title>
<path class="path1" d="M870.4 51.2h-716.8c-56.32 0-102.4 46.080-102.4 102.4v716.8c0 56.371 46.080 102.4 102.4 102.4h358.4v-358.

[2020-07-21 06:05] iamgmujtaba commented on #460
The similar question asked in this thread. So I am closing this thread

https://github.com/sergiokopplin/indigo/issues/423

[2020-07-21 06:05] #460 closed, assigned to nobody

[2020-07-24 07:41] josephchenhk opened #461 "can disqus show in English?"
Hi all, my question might sounds silly. But I can't find the place to change the language config in disqus. And my disqus panel shows something in Korean. Any ideas to solve it? Many thanks!

<img width="903" alt="Screenshot 2020-07-24 15 37 32" src="https://user-images.githubusercontent.com/2732840/88370197-25d19e00-cdc4-11ea-9b70-82bfd8a1764d.png">

[2020-08-13 02:28] dnllvrvz opened #463 "Hover picture and change background image"
Hi, everyone.

So, I've been using the indigo theme for my [personal page](https://dnllvrvz.github.io/) for a while and recently I started to do some simple customization and had an idea. I've added a background image to the front page via index.html and I was wondering if it'd be possible to have this background image changed for a second imagem whenever the mouse hovers the profile picture (comi

[2020-08-16 12:45] nlhomme commented on #286
[This one](https://favicomatic.com/) generates exactly what you need, with the same names.
Use the "Every damn size, sir!" option ;)

[2020-08-31 19:41] danhedonia opened #465 "Ruby Sass EoL"
Post-install message:

[code]

[2020-09-07 21:18] TomNissens commented on #459
All icons for academia: http://jpswalsh.github.io/academicons/

[2020-09-22 14:17] andrew-ares opened #466 "How to use another font?"
Thanks for this amazing project! I used it as my personal website.
But I'm wondering if there is a way to import specified fonts.

[2020-09-22 14:19] Hannah979 commented on #466
try https://fonts.google.com/
select the font you want to use, then select the style of the font you like and you can then use the embed option at the side. You can copy and paste this into your code :)

[2020-10-10 15:05] #466 closed, assigned to nobody

[2021-01-02 00:05] Aman-1412 opened #470 "Blog posts disappear on enabling pagination"
Might be related to this, I guess:
https://github.com/sergiokopplin/indigo/issues/231

Firstly, thank you for this amazing theme! I spent 8 hours searching for themes and finally settled on this one, it's the best one out there! (for me)

The issue I'm facing right now is that whenever I enable pagination, all of my blogs disappear.
I tested it - the only thing I change is pagination and the blogs

[2021-01-04 14:20] notSeaSmoke commented on #439
Any updates on this?

[2021-01-05 14:55] disdi opened #471 "Change year in theme to C 2021"
Copyright instructions still point to 2020 in theme. This needs to be updated to 2021

[2021-01-15 21:39] matej2 opened #473 "Emoji does not show in title"
Hello,

first I would like to say, beautiful theme. I like it very much. I found a small bug. In blog list, if you click on a certain blog post that has emoji in title, this emoji will not show in browser. See example below:

![image](https://user-images.githubusercontent.com/11059438/104781224-6104c680-5782-11eb-951f-847836e3300d.png)

I suggest we dont show icons in browser at all. Or do you sug

[2021-01-16 00:18] matej2 commented on #473
Nevermind, I found out you can manually insert emoji and it renders fine

[2021-01-16 00:18] #473 closed, assigned to nobody

[2021-01-23 19:49] mwt commented on #459
I have this implemented in my fork:
https://github.com/mwt/mwt.github.io/

The icon itself is
[code]

You can see it live [here](https://mattwthomas.com). If there's enough interest, I'm happy to make a pull request.

[2021-01-23 19:56] mwt commented on #458
For anyone else that wants to do this, the following icon works:
[code]

You can implement support by copying the changes in [this commit](https://github.com/mwt/mwt.github.io/commit/9ef3fc9676fdfde7ebbf780c9cd40f4f0917d9c0). I'm happy to submit a pull if there is sufficient interest in this.

[2021-01-28 16:43] Aman-1412 commented on #470
Found the issue:
I'm hosting the site on Github Pages
The issue occurs because github pages **does not** support paginate-v2:
https://github.com/sverrirs/jekyll-paginate-v2
https://pages.github.com/versions/

Solutions?
From my initial reserach, looks like using Travis CI or some other build tool to build the site on pushing to github (or building and pushing your site locally) should work.

All s

[2021-02-13 09:51] withshubh opened #474 "Dark mode request"
Hi @sergiokopplin

I have been using indigo template as my personal website for the last two years.

I would really appreciate if you could bring the dark mode option for this template. :sparkling_heart:

[2021-02-20 13:12] #470 closed, assigned to nobody

[2021-03-20 21:24] heychirag commented on #474
Duplicate of #439

[2021-03-27 16:48] #474 closed, assigned to nobody

[2021-03-27 16:48] sergiokopplin commented on #439
Hey Guys!
I was thinking about it.
Have you guys tried the Dark Read for Chrome? It seems a good theme colour to apply in a dark mode.

[2021-03-29 00:52] Nazeeefa commented on #439
Do you mean the Chrome extension https://darkreader.org/ ? :) Yes, it has a nice dark colour.
It would be nicer to have button in indigo theme that allows to switch between dark and light.

[2021-03-31 13:50] notSeaSmoke commented on #439
Having a native dark mode integration on the site itself is better than using an extension, especially considering that most mobile browsers don't have extension support.

[2021-03-31 14:27] sergiokopplin commented on #439
@notSeaSmoke Agree! My idea it to have just an inspiration on colors to apply here, not to use the extension itself.

[2021-04-02 09:22] lishichengyan commented on #461
You need to register a disqus account and replace the shortname of your own in _config.yml. Hope this helps!

[2021-04-04 15:13] notSeaSmoke commented on #439
Oh yeah, that makes more sense. Personally, I find the Dark Reader theme a bit _too_ dark. I prefer a color scheme like GitHub's new Dark Dimmed theme, it's dark enough to not cause eye strain while also being light enough to not cause reading issues like pure black themes. The dynamic theme engine in Dark Reader with default settings is the closest to what I'd personally like.

[2021-04-05 02:08] josephchenhk commented on #461
Thanks dude! I got it work now! Just in case other people also have similar issues, here is the additional tip: after replacing the shortname in _config.yml, you also need to put your domain to trusted domains in disqus: https://help.disqus.com/en/articles/1717301-i-m-receiving-the-message-we-were-unable-to-load-disqus

Allow me to close this issue now. Thanks again!

[2021-04-05 02:08] #461 closed, assigned to nobody

[2021-06-23 10:03] slashformotion opened #482 "[Security] Add rel="noopener" to any external links to improve performance and prevent security vulnerabilities."
I tried to do a lighthouse check on your theme and I found this on the socials links

[code]

I did a PR to fix it #481

[2021-11-06 22:29] sergiokopplin commented on #427
I've made [these](https://github.com/sergiokopplin/indigo/pull/483/files) changes.
So, I've removed all things related with that hover behavior.

[2021-11-12 16:45] njudd commented on #136
Is it possible to have a project listed that just links to an HTML page? Specifically, I am wondering about knitted HTML pages from Rstudio?

This was the most relevant post I could find yet the links are dead

---- solution ----

You make a markdown file with the following header
[code]

You then can put which ever HTML project you wish in your main dir.

[2021-11-15 21:48] CasLudwig commented on #450
I wondered exactly the same. Love this theme, but would like to be able to rename resume and perhaps add one more tab...

[2021-11-21 16:24] sergiokopplin commented on #439
What do you guys think about? https://github.com/sergiokopplin/indigo/pull/484

[2021-11-21 16:34] sergiokopplin commented on #439
@heychirag @Nazeeefa @notSeaSmoke I've made a proposal.

[2021-11-21 16:38] sergiokopplin commented on #439
I'll merge, 🐛 are expected hahaha

[2021-11-21 16:38] #439 closed, assigned to nobody

[2021-11-21 16:50] sergiokopplin commented on #439
demo: https://koppl.in/

[2021-11-21 20:48] Nazeeefa commented on #439
Thanks. Dark theme looks nice, what sort of bugs should we expect?
I guess, it's not possible to have dark/bright mode button?

[2021-11-22 12:59] sergiokopplin commented on #439
@Nazeeefa yeah, it's possible, but it will add some javascript. We don't have any js
Do you know any other ways of doing @Nazeeefa ?

[2021-11-22 20:30] sergiokopplin commented on #471
fixed

[2021-11-22 20:30] #471 closed, assigned to nobody

[2021-11-22 20:31] #459 closed, assigned to nobody

[2021-11-22 20:32] sergiokopplin commented on #450
You can rename the tabs here -> _includes/nav.html

But adding more tabs, dynamically, is not possible :(

[2021-11-22 20:32] #450 closed, assigned to nobody

[2021-11-22 20:33] #447 closed, assigned to nobody

[2021-11-22 20:34] sergiokopplin commented on #444
Hey @bodenr
Have you fixed it?

It's a bit old, so I'm closing, but any new or persistence bugs, send for us here

[2021-11-22 20:34] #444 closed, assigned to nobody

[2021-11-22 20:35] sergiokopplin commented on #443
Hey @Nazeeefa. Yeah, it's possible, but not implemented. Have you tried to created by yourself?

[2021-11-22 20:35] #443 closed, assigned to nobody

[2021-11-22 20:35] #427 closed, assigned to nobody

[2021-11-22 20:36] sergiokopplin commented on #448
Hey guys! Have you fixed? Sorry for the delay

[2021-11-22 20:36] #448 closed, assigned to nobody

[2021-11-22 20:36] sergiokopplin commented on #463
Hey @dnllvrvz, have you fixed by yourself?

[2021-11-22 20:36] #463 closed, assigned to nobody

[2021-11-22 20:36] #458 closed, assigned to nobody

[2021-11-22 20:37] sergiokopplin commented on #465
Thank you @jenetiks, I'll take a look

[2021-11-22 20:37] #465 closed, assigned to nobody

[2021-11-22 20:37] sergiokopplin commented on #446
Have you fixed @Amangondaliya555 ?

[2021-11-22 20:37] #446 closed, assigned to nobody

[2021-11-22 20:38] sergiokopplin commented on #482
merged

[2021-11-22 20:38] #482 closed, assigned to nobody

[2021-11-22 20:55] dnllvrvz commented on #463
Hey Sergio!

Thanks for getting back to this. I have not been able to implement it =/

On Mon, Nov 22, 2021 at 5:37 PM Sérgio A. Kopplin ***@***.***>
wrote:

--
Danilo <https://dnllvrvz.github.io/>

[2022-01-02 23:20] LinX64 opened #487 "Could not fetch the Config! (Admin panel)"
There's an error after opening the admin panel. It says: "Could not fetch the Config"

Any suggestions/ideas?

[2022-02-08 06:20] javisth opened #488 "I get the following issue when trying to 'bundle exec jekyll serve' :"
Doing `require 'backports'` is deprecated and will not load any backport in the next major release.
Require just the needed backports instead, or 'backports/latest'.
bundler: failed to load command: jekyll (/usr/local/bin/jekyll)
/Library/Ruby/Gems/2.6.0/gems/nokogiri-1.13.1-arm64-darwin/lib/nokogiri/extension.rb:30:in `require': cannot load such file -- nokogiri/nokogiri (LoadError)
	from /Librar

[2022-02-08 12:41] sergiokopplin commented on #487
Hey @LinX64, it seems a bug from jekyll admin. But I'm really not sure about it.
I've searched but found nothing.

But the admin page itself seems to be working properly.

Are you having trouble with the admin panel?

[2022-02-08 12:41] #487 closed, assigned to nobody

[2022-02-08 12:46] sergiokopplin commented on #488
Fixed! It was related to jekyll-admin.

[2022-02-08 12:46] #488 closed, assigned to nobody